[2016-03-03 11:38] hbrunn commented on #447
the error message says you git is too old to understand the parameter. Update git and try your original commandline, everything you tried afterwards cannot work. And you also need to `pip install openupgradelib`.

[2016-03-03 18:45] dywen69 commented on #447
Thank you very much for that, it helps me a lot!!!!

I'm currently resolving some python import missing, hope that it should work soon!!!

[2016-03-04 08:48] dywen69 commented on #447
I've some question about a working way to do it. I've on 6.1 machine and a 8.0 machine.
I want to know if have to make the OpenUpgrade migration on the 6.1 machine, specifying the 6.1 openerp-server.conf and after dump the migrated database to restore it on the 8.0 machine?
Or i've to dump the original 6.1 database, restore it on the 8.0 machine and make the OpenUpgrade migration specifying the 8.

[2016-03-04 11:27] pedrobaeza commented on #447
You can't migrate to 8.0. You have to first migrate to 7.0, and then to 8.0, and you always use the target version of OpenUpgrade to migrate (in 6.1 DB, you use 7.0)

[2016-03-04 13:13] dywen69 commented on #447
I think i've missed something. Could you please tell me if i'm right?

First on the 6.1 openerp machine, i've to use the 7.0 branch of OpenUpgrade with the 6.1 openerp-server.conf file.

Then when it done, i've to use the 8.0 branch of OpenUpgrade with the 6.1 openerp-server.conf file and after dump the database and restore it on my 8.0 odoo machine.

Is that correct?

[2016-03-04 13:19] pedrobaeza commented on #447
No, you have to use the 6.1 DB. The conf file is created from scratch specially for the migration, pointing to OpenUpgrade addons + custom 7.0 addons path.

[2016-03-04 13:24] dywen69 commented on #447
So i make the all two migration process (the first from 6.1 to 7.0, and the second from 7.0 to 8.0), on the same 6.1 machine? Using first the original 6.1 DB and after the 6.1to 7.0 migrated DB?

And when all the migration process is done, i've to dump the last migrated 8.0 DB and restore it on an 8.0 odoo machine?

[2016-03-04 13:27] pedrobaeza commented on #447
You can do the migrations in the machine you want, while you have the OpenUpgrade branch version + the DB + the conf in it.

[2016-03-04 13:31] dywen69 commented on #447
Just to be sure:
migration 6.1 to 7.0 : OpenUpgrade 7.0 branch + original 6.1 DB + original 6.1 openerp-server.conf
migration 7.0 to 8.0 : OpenUpgrade 8.0 branch + migrated DB + original 6.1 openerp-server.conf

Is it all correct?

[2016-03-04 13:37] pedrobaeza commented on #447
Again no: the openerp-server.conf is something you have to make totally new for each migration (one for 7.0, and another for 8.0). The conf only have to content the addons_path for OpenUpgrade addons.

[2016-03-04 13:38] pedrobaeza commented on #447
I'm going to close this, because this is not an OpenUpgrade issue, but some kind of functional support, and as you can understand, this is not something that we can do for free extensively.

[2016-03-04 13:38] #447 closed

[2016-03-10 07:34] manippts commented on #216
ty

[2016-03-13 18:27] esousy commented on #433
I have the same problem in Mac, Win and Linux.
The process freeze in res = self._obj.execute(query, params) in the class sql_db.py.
a new cursor is create  while borrow is locking.
the problem is caused by 'decimal.precision' in product.py, it is registered twice.
when I removed this class from product.py the process pass.
there is any workaround?

[2016-03-13 18:42] esousy opened #448 "[9.0] OpenUpgrade execute invoices workflow"
OpenUpgrade 'OU' execute invoices workflow while recomputing computed fields,
So, when the invoice is paid by this auto workflow,  OU tries to mark the purchase or sale orders as done, even if those modules are not loaded yet.

    return self.models[model_name]
KeyError: u'purchase.order'

the source of this issue in this line added for version 9 in module.py
    if obj_list:
        obj_list[0].

[2016-03-14 06:33] StefanRijnhart commented on #448
Yes, this is an issue that can be addressed by an OpenUpgrade method to disable the related workflow triggers temporarily. But you mention version 9, and the account module is not yet covered in this version so you may have bigger problems that just that.

[2016-03-14 06:36] StefanRijnhart commented on #445
I don't install Odoo globally on my systems, but I image that if you do, you may get interference from globally available executables or import paths. I would recommend to perform the migration on a aystem that does not have a globally installed Odoo.

[2016-03-14 06:36] #445 closed

[2016-03-14 06:41] StefanRijnhart commented on #443
Sorry to be the bearer of bad news, but you did not actually manage to migrate your database.

[2016-03-14 06:42] #434 closed

[2016-03-14 06:46] StefanRijnhart commented on #420
Is this fixed by https://github.com/OCA/OpenUpgrade/pull/438?

[2016-03-14 06:50] StefanRijnhart commented on #432
You need to contact ingadhoc about proposing the module to the OCA. Closing this as out of scope for this project.

[2016-03-14 06:50] #432 closed

[2016-03-14 07:02] StefanRijnhart commented on #419
For the standard data in core, this is covered in mail/migrations/7.0.1.0/data.xml. Can you check the log files of your migration to check this file was loaded at any point?

[2016-03-14 07:07] StefanRijnhart commented on #394
This would also remove any modules that deped on them which are not available in the module path at that point, which could lead to data loss. Consider that you can migrate just the core modules using the OpenUpgrade distribution, and then migrate some 3rd party module that carries its own migration script (if necessary) afterwards on a regular edition of Odoo.

[2016-03-14 08:09] pedrobaeza commented on #394
We can mark them on the very end. I don't remember now the name of the method that is executed at the end of the migration, but there.

[2016-03-14 08:26] StefanRijnhart commented on #433
Again, try to merge upstream Odoo and see if the lazy cursor factory
fixes the problem

[2016-03-14 09:52] esousy commented on #448
Thanks for your reply,
what are the modules already covered by version 9?

[2016-03-14 10:08] StefanRijnhart commented on #448
Just base. https://github.com/OCA/OpenUpgrade/issues/400

[2016-03-14 10:09] #448 closed

[2016-03-16 00:22] #443 closed

[2016-03-16 00:23] pedrobaeza commented on #433
Closing this as 9.0 migration is not covered yet.

[2016-03-16 00:24] #429 closed

[2016-03-16 00:24] pedrobaeza commented on #424
Closing due to inactivity

[2016-03-16 00:24] #424 closed

[2016-03-16 00:26] pedrobaeza commented on #40
@StefanRijnhart, is this solved with your latest changes to the analyzer?

[2016-03-16 00:27] pedrobaeza commented on #77
Any news about this?

[2016-03-16 00:27] pedrobaeza commented on #188
Any news on this?

[2016-03-16 00:28] pedrobaeza commented on #202
Closing due to inactivity

[2016-03-16 00:28] #202 closed

[2016-03-16 00:28] pedrobaeza commented on #213
Is this solved?

[2016-03-16 00:28] pedrobaeza commented on #225
I think this is solved, isn't it, @StefanRijnhart?

[2016-03-16 00:29] pedrobaeza commented on #227
Are these features already included in the comparison?

[2016-03-16 07:24] hbrunn commented on #227
not to my knowledge

[2016-03-16 07:25] hbrunn commented on #188
didn't happen up to now. I think this is on hold until somebody runs into a case again where this is necessary

[2016-03-18 22:24] coleste commented on #433
@StefanRijnhart fyi, merging didn't fix anything. I had to disable d.clear() in the ormcache class. I don't think it's an issue for migrating.

[2016-03-19 17:47] esousy commented on #433
Yes, merging didn't fix anything.

[2016-03-20 02:06] jpstaub commented on #441
Just wanted to say thanks for putting OCA out in the world. It ended up helping me restore a 7.0 database that was plagued with functional problems. In other words, I migrated from 7.0 to 7.0 to correct the problems that were inherent in a database that OpenERP7 would no longer open. The repaired database works like a charm now. I don’t know enough about OpenERP to know where the trouble was. Suff

[2016-03-20 06:02] elicoidal commented on #441
@jpstaub Thanks a lot for your praises and we are happy to see that the OCA is useful in your project.

You can contribute in many ways depending on your budget:
- Become a member of the association (50EUR): https://odoo-community.org/page/website.Membership
- Donate any suitable number (starting from 50EUR): https://odoo-community.org/shop
- become a sponsor of the OCA (starting from 1000EUR): ht

[2016-03-21 09:28] StefanRijnhart commented on #40
No. I suspect that the analysis doesn't do field deltas on models that have no fields at all. I can't think of a lot of other cases of models without any fields in Odoo, so it's a cornercase I can live with.

[2016-03-21 09:29] StefanRijnhart commented on #213
no

[2016-03-21 09:29] StefanRijnhart commented on #225
Yes, backported to at least 7.0.

[2016-03-21 09:30] #225 closed

[2016-03-26 18:11] pedrobaeza commented on #400
Some notes for making _account_ module migration:
- `amount` field is multiplied by 100 in this version. 8.0: `0.21`. 9.0: `21`
- column rename in account.tax: `type` > `amount_type`
- column rename in account.account: `user_type` > `user_type_id`
- In v8, if `child_depend == True`, then in v9, `amount_type='group'`

[2016-03-28 10:33] Albin-John opened #461 "NameError: name 'bzrlib' is not defined"
Traceback (most recent call last):
  File "migrate.py", line 249, in <module>
    bzrlib.plugin.load_plugins()
NameError: name 'bzrlib' is not defined

[2016-03-28 10:36] esousy commented on #400
do you have any idea how to migrate payments and reconciliations?

Regards

[2016-03-28 12:54] pedrobaeza commented on #400
Not related to this project, so I remove both comments.

[2016-03-28 12:55] pedrobaeza commented on #461
You have to install that library (`sudo apt-get install python-bzrlib` in Debian+derivatives, `sudo pip install bzrlib` in general).

[2016-03-28 12:55] #461 closed

[2016-03-28 13:08] albin-john commented on #461
Thank you very much @pedrobaeza

[2016-03-31 14:42] hbrunn opened #463 "9.0 docs"
Is it by purpose that 9.0's doc directory is empty? https://github.com/OCA/OpenUpgrade/tree/9.0/openerp/openupgrade/doc

Or is this a glitch from the initial OpenUpgrade-import?

(the reason I ask is that I'm busy estimating the work load for a migration project, and for the ones where's nothing to do, I think it's a nice thing to write 'Nothing to do' there at once)

[2016-03-31 14:42] hbrunn commented on #463
@StefanRijnhart any idea?

[2016-03-31 19:25] StefanRijnhart commented on #463
The docs have not been moved there and are still maintained in 8.0. Migration needs to be coordinated with Therp as they host the documentation. Moving the docs between branches is trivial, but preparing the build environment is a little more complex as I remember. It would be great if you could have a look and give a go to move the docs to 9.0.

[2016-04-01 00:32] pedrobaeza commented on #463
We can take the occasion to try to leave on each version the document about their module coverage to help the maintenance when new modules are migrated. This is not easy task to do directly with the RST compiler, as pointed by @StefanRijnhart, but maybe we can gather the corresponding files for each version and compile all together in a script.

[2016-04-01 14:38] mmalorni commented on #400
@pedrobaeza , @StefanRijnhart  ,  . @coleste is working on the CRM, HR, Sales, Account, project, project issue, mail, product and stock. We might not finish the job but we did the changes we needed to get the OpenUpgrade passing with our data for those modules. We will do pull requests once we have finished the tests and have fixed the bug. Thought you might want to indicate that someone is workin

[2016-04-01 15:19] hbrunn commented on #463
@StefanRijnhart @pedrobaeza good point leaving a version's module coverage in the respective branch. The script proposed in #464 https://github.com/OCA/OpenUpgrade/compare/9.0...hbrunn:9.0-doc?expand=1#diff-08d4ec7cbf6f53396c7a4e38e949d00fR1 is used to generate https://doc.therp.nl/openupgrade-test, so if we merge this, I can simply switch the main documentation to this one

[2016-04-01 22:04] pedrobaeza commented on #400
Written in the main comment, but it's a pity to let a half work. Please reconsider to give a bit extra fuel to complete that scripts.

[2016-04-01 22:25] pedrobaeza commented on #463
As a PR has been proposed in https://github.com/OCA/OpenUpgrade/pull/464, I close this issue and we can continue any discussion there (this is to avoid opened issues that are not closed when PR is merged).

[2016-04-01 22:25] #463 closed

[2016-04-04 13:10] shmuly007 opened #465 "hr_holidays migration from OpenERP 7 to Odoo 8"
Hi guys,
Thank you for your hard work.

I have a problem upgrading hr_holidays module; here is the logcat:
[code]

I can get past this removing from hr_holidays the inexistent fields but this way data is being dropped
```DELETE FROM hr_holidays WHERE user_id NOT IN (SELECT id FROM res_users);```

Can this be fixed?

[2016-04-04 13:11] hbrunn commented on #465
yes, by fixing your database. Either do what you propose, or create users with the appropriate ids, there's no other way to have referential integrity again.

[2016-04-04 13:11] #465 closed

[2016-04-08 11:56] jbeficent opened #468 "[analysis] Removed models are not logged per module"
For example, account.analytic.journal disappears in v9, and there's no trace of this in the analysis files, except for many2one references to this model that are deleted.

[2016-04-11 11:56] StefanRijnhart commented on #77
Nope ;-)

[2016-04-11 11:58] StefanRijnhart commented on #394
No, I mean in a next run. So removing them at the end of the original run does not help.

[2016-04-11 15:24] pedrobaeza commented on #394
Well, the account_report_company module has been integrated in the account module, so a proper module migration should remove that dependency. process can be other case, but at least I would do it for the first one.

[2016-04-12 11:02] StefanRijnhart commented on #394
It's not about the modules themselves, it is about the modules that might depend on them. Removing the core modules will remove those as well.

[2016-04-12 11:11] pedrobaeza commented on #394
Well, we have entered in a loop, hehe. I was talking about the special case of `report_company`, but no matter. We can continue doing the same way as now.

[2016-04-12 11:11] #394 closed

[2016-04-18 17:38] StefanRijnhart commented on #468
They are logged in the general log: https://github.com/OCA/OpenUpgrade/blob/9.0/openerp/addons/base/migrations/9.0.1.3/openupgrade_general_log.txt#L77

It is hard to log them by module, because Odoo does not properly register which module 'owns' a model, although we could log a module in every module in which it is either defined or overridden as this corresponds to the model_ entries in ir_model_

[2016-04-18 18:01] pedrobaeza commented on #468
Yeah, I think that can be an improvement, although it's very verbose. We can also use a reference count to determine which module is the base (or maybe through _inherit/_name property - the original module that declares the model for the first time is the one that doesn't have _inherit).

[2016-04-21 09:32] synconics opened #472 "Product qty is lost when migrating to odoo v7 -> v9."
Hello,

I am trying to migrate database v7 to v9.
After migrating i found that qty_available, incoming_aty, outgoing_qty, virtual_available fields are empty on product form. and stock. quants are also missing from database.

I dont found any solution for fix it. please guide me.

[2016-04-21 10:06] legalsylvain commented on #472
Please, could you mention if the information is lost during the migration between 7 to 8 or between 8 to 9.

regards.

[2016-04-21 11:32] synconics commented on #472
Hello,
Migration was successfully done and all product data is migrated but some fields like qty_available, incoming_qty, virtual_available, virtual_available are empty.

And also stock.quants are missing from database.

[2016-04-21 12:33] legalsylvain commented on #472
this is quite weird. Could you retry just doing a 7 to 8 migration and check the result ?
kind regards.

[2016-04-21 12:35] pedrobaeza commented on #472
You have an outdated version of OpenUpgrade without stock migration scripts.

[2016-04-21 12:35] #472 closed

[2016-04-21 15:47] StefanRijnhart commented on #433
Was able to reproduce this. Pushed a fix as #473

[2016-04-21 17:02] InfernalLV opened #474 "CSS messed up after migration"
I tried to migrate an empty v8 db to a v9 using the migrate.py script and using the manual method. It generally worked.

Everything seem just fine in on openupgrades server, but for some reason on the 9.0 and master branch the css resource path is messed up.

/website/static/src/less**/web.assets_backend**/import_bootstrap.less.css    <-- 9.0 |  returns 404
/web/static/src/less**/web.assets_backen

[2016-04-21 17:42] StefanRijnhart commented on #474
No migration is yet possible for 9.0. See https://doc.therp.nl/openupgrade/modules80-90.html.

[2016-04-21 17:42] #474 closed

[2016-04-21 17:43] StefanRijnhart commented on #420
Let's assume it is.

[2016-04-21 17:43] #420 closed

[2016-04-21 17:45] #325 closed

[2016-04-21 18:09] karlis-dreizis commented on #474
That being the state of things. Would you recommend going down the path of sql scripts or trying to get openupgrade to workable state? Or maybe there are other alternatives?

I read the doc, some of the issues, pull requests and I understand that everything still way in the early days of development. Yet I saw some individuals repos have migration scripts that cover at least a subset of module . h

[2016-04-21 18:13] pedrobaeza commented on #474
Yes, this is progressing, but slowly yet. You can contribute in any moment making PRs for the missing parts. It's a great challenge, but very satisfying if you get it.

[2016-04-22 06:35] hbrunn commented on #474
and please try to persuade people who already wrote migration scripts to offer them here. It would be a pity to have to duplicate the work.

[2016-04-25 09:15] StefanRijnhart commented on #472
Well, stock is not yet supported in 9.0 so there is not much we can say about a migration to 9.0. Indeed, check the results of 8.0 first. If the results are faulty there as well, paste your full debug log of the migration in a pastebin and refer here.

[2016-04-26 10:54] synconics opened #476 "Can we migrate v7 db to v9 db? how ?"
Hello,
As i found we can migrate v7 to v8 but I dont found any proper steps to migrate v7 to v9.
Is there any solution available?

Thanks

[2016-04-26 10:56] pedrobaeza commented on #476
No, there isn't. The migration to v9 is not yet finished. Track the progress in https://github.com/OCA/OpenUpgrade/issues/400.

Anyway, when ready, you must migrate from v7 to v8, and then from v8 to v9, but not directly.

[2016-04-26 10:56] #476 closed

[2016-04-26 21:12] ghost opened #477 "[6.1 project_mrp] procurement_order: sale_id column does not exist"
Dear all,

First i would like to congratulate you for your efforts to build a community.
While migrating my old 6.04 database to OpenERP 6.1, the migration script stopped:

select t.id, t.project_id, po.sale_id from project_task t join procurement_order po on t.procurement_id=po.id where po.sale_id is not null

Programming error: ERREUR:  column po.sale_id does not exist

The error is located in h

[2016-04-27 06:51] kellogs opened #478 "[7.0] duplicates in ir_sequence_type"
After migrating from 6.04 to 6.1, I renamed the database and began a migration to 7.0. It stops with the following SQL query:

insert into "ir_sequence_type" (id,"code","name",create_uid,create_date,write_uid,write_date) values (45,'account.journal','Account Journal',1,(now() at time zone 'UTC'),1,(now() at time zone 'UTC'))

There is already a record with id 45, so migration stops.
2016-04-27 00:

[2016-04-27 06:55] kellogs opened #479 "Questions: migrating between major versions"
Dear all,

Somes issues are not clear to me.

1) How to use OpenUpgrade directly from GIT? The migration script downloaded seems to be different, as code is stored in /var/temp/OpenUpgrade. To use the script from GIT, do I simply checkout and run?

2) When migrating from major versions, example 6.04 to 8.0, is it recommended to make one single migration OR to migrate step by step and install OpenE

[2016-04-27 07:01] kellogs opened #480 "Tedious upgrade mechanism : an alternative, Drupal upgrade mechanism"
Dear all,

OpenERP aka OdooS**** upgrade mechanism seems tedious. I have using Drupal for years and its upgrade mechanism is barely simple and unbreakable, regarding developers follow guidelines:

Each module includes a property returning major version and minor version and dependencies.
It also includes SQL code to upgrade the module to any version (but no downgrades).

Therefore, when you upgrad

[2016-04-27 07:03] pedrobaeza commented on #480
There's no such possibility, as Odoo doesn't integrate the upgrade mechanism in their core (it's a paid service), so mechanisms like this are needed.

[2016-04-27 07:03] #480 closed

[2016-04-27 08:36] kellogs opened #481 "[6.1] Third-party module marked as upgradable after migration but is not installed"
Dear all,

After migrating 6.04 to 6.1 nearly without error, I stumbled upon this issue:

The following packages are marked as "upgradable" but are not installed in OpenERP addons directory:
account_3rd_party_generat : to upgrade
account_fstr : to upgrade
account_report : to upgrade
base_report_creator : to upgrade
base_scheduler_creator : to upgrade
currency_rate_update : to upgrade
intrastat_bas

[2016-04-27 08:39] ghost commented on #479
I am answering myself, feel free to comment :
When migrating from 6.04 to 8.0, I first migrated to 6.1 and found dozens of errors.
So it seems important to go step by step from one major release to the next major release.

[2016-04-27 08:39] #479 closed

[2016-04-27 08:40] ghost commented on #478
I need to validate migration to 6.1 prior to moving to 7.0, so closing this now.

[2016-04-27 08:40] #478 closed

[2016-04-27 08:52] ghost commented on #481
OK, I read in another post that I should use server-tools to purge the schema. Unfortunately, this feature is supported only from 7.0 onwards. So I probably need to migrate to 7.0 or 8.0 and then purge.

Kind regards,
Kellogs

[2016-04-27 11:17] ghost commented on #480
As OCA is now a free community, you should be able to open a ticket somewhere to indicate this is something that we should think about, as a needed feature and then write a collaborative Spec.

Where can I add a feature request for such a feature? IMHO this would be less work to add a native upgrade mechanism rather than work on OpenUpgrade, which seems to be a lot of work.

[2016-04-27 11:50] ghost commented on #481
Closing issue as migrating to 7.0 or 8.0 is the answer.

[2016-04-27 11:50] #481 closed

[2016-04-27 11:55] kellogs opened #483 "[6.1] to [7.0]: account journal duplicate"
When migrating from 6.1 to 7.0, OpenUpgrade tries to create new sequences, and this fails because of sequence name being unique:

insert into "ir_sequence_type" (id,"code","name",create_uid,create_date,write_uid,write_date) values (45,'account.journal','Account Journal',1,(now() at time zone 'UTC'),1,(now() at time zone 'UTC'))
fails because of unique constraint on code.

Here is the log:
2016-04-

[2016-04-27 11:59] ghost opened #484 "[migrate.py] When migrating from several versions, if upgrade fails, migration continues with next major version"
To reproduce : migrate from 604 => 61 => 70 => 8.0
If migration fails during 61=>70, it will continue migration to 8.0, leading to inconsistency.

Example log:

IntegrityError: ERREUR:  la valeur d'une clé dupliquée rompt la contrainte unique « ir_sequence_type_code_unique »
DÉTAIL : La clé « (code)=(account.journal) » existe déjà.
2016-04-27 10:45:09,763 10883 INFO ? openerp: OpenERP version 8.0

[2016-04-27 19:09] ghost commented on #483
This is not a journal duplicate, rather a problem of sequence migration.

[2016-04-27 19:12] pedrobaeza commented on #483
No, it's a problem that you have manipulated the 6.1 database, removing XML-ID references in any way (for example, removing records and then recreating them by hand), and thus the migration tries to create them again, so you have to solve these problems in your DB, It's not an OpenUpgrade business.

[2016-04-27 19:12] #483 closed

[2016-04-28 07:15] ghost commented on #481
I removed the original modules from OpenERP and performed a new migration. And it worked like a charm (except other minor issues). You cannot migrate third-party modules.

[2016-04-28 07:16] ghost commented on #483
No I did not manipulate records by hand, removing XML-ID references. I am now using the 6.1 database in OpenERP 6.1 and it works like a charm. Please reopen and rename sequence migration problem.

If you understand the problem in more details, please comment and indicate how to fix.

[2016-04-28 07:20] pedrobaeza commented on #481
You can migrate them if you have the proper modules in the target version, and providing the proper migrations scripts if needed.

[2016-04-28 07:22] pedrobaeza commented on #483
I don't think so. I have migrated several 6.0 > 6.1 databases without that problem. In any case, just remove the offending record that exists in the DB to let the process to continue.

[2016-04-28 07:32] ghost commented on #483
Thank you for this quick answer.

The table involved is : account_sequence_data
These are the different balances names, I cannot remove them and let OpenUpgrade recreate them.

In my 6.1 database the same record exists with ir_sequence_type.id=6
SELECT \* FROM _sequence_type WHERE id=6
"6";1;"2011-02-03 01:32:19.03693";"";;"account.journal";"Account Journal"

The query fails as it tries to insert

[2016-04-28 07:33] pedrobaeza commented on #483
If it exists in your DB, you should check that there's a record in the ir_model_data with the same name as the new XML that points to this record in the res_id column.

[2016-04-28 07:36] ghost commented on #483
The error is located here:
2016-04-27 21:34:57,441 20026 ERROR xxxx_61_migrated openerp.tools.convert: Parse error in /var/tmp/openupgrade/7.0/addons/account_sequence/account_sequence_data.xml:7:

I will try to remove account_sequence module in the 6.1 database and migrate. I can always reimplement account_sequence afterwards.

[2016-04-28 08:00] ghost commented on #483
I could remove account_sequence module. Not a major issue as this is not a core module and can be reinstalled afterwards. Please note that upgrading account_sequence module is buggy.

I will come back later on this issue to investigate the 61 database.

Many thanks for your help.

[2016-04-28 08:04] pedrobaeza commented on #483
account_sequence module migration is not covered yet: https://doc.therp.nl/openupgrade/modules60-61.html

[2016-04-28 08:06] ghost commented on #483
My fault, this is my first migration. I will come back and commit a solution for account_sequence afterwards. I would like to learn how to use Openupgrade with the idea of implementing it within OCB. Thanks for your help.

[2016-04-28 08:10] ghost opened #485 "[all] Feature request: warn users about non-supported modules"
i.e. module-coverage should handeled inside OpenUpgrade.

This would be nice to warn users during execution of Openupgrade about non-supported modules.
Inside OpenUpgrade, there should be a property returning the level of migration and it should be displayed in the log. The list of modules can be stored in GIT.

So users can perform a quick review reading the logs only.

Presently, users need to c

[2016-04-28 08:11] ghost commented on #483
I added this feature request: https://github.com/OCA/OpenUpgrade/issues/485

Many thanks for your time and help.

[2016-04-28 08:13] pedrobaeza commented on #485
You already have this list in https://doc.therp.nl/openupgrade/modules60-61.html. I already saw you this one. And in the header of the OpenUpgrade project in GitHub, you have the link to this documentation.

[2016-04-28 08:32] ghost commented on #485
I agree with you, but for automation purpose, the list of supported modules should be handled inside Openupgrade. When reviewing the log, it saves a lot of time.

Please keep this issue open, I may pick it up myself.

Migrating OCB between revisions is the most important issue IMHO. There are dozens of hosting services and if want to impose OCB, it has to upgrade smoothly.

[2016-04-28 09:08] pedrobaeza commented on #485
What do you mean by log?

[2016-04-28 18:45] kellogs opened #486 "[6.1] to [7.0] Adding a foreign key to a table may stop migration if table is inconsistent"
Dear all,

When migrating from 6.1 to 7.0, an inconsistent table stopped the migration. Here is the log:
ALTER TABLE "ir_act_window" ADD FOREIGN KEY ("view_id") REFERENCES "ir_ui_view" ON DELETE cascade
Traceback (most recent call last):
  File "/var/tmp/openupgrade/7.0/server/openerp/sql_db.py", line 226, in execute
    res = self._obj.execute(query, params)
IntegrityError: ERREUR:  une instructi

[2016-04-28 18:57] kellogs commented on #486
More generally, it would be nice to run a batch of SQL queries before migration to remove data which could stop migration because of lack of referential integrity.

I would like to do the same as database_clean, but using normal SQL queries, to make OpenUpgrade more liable.

Any idea where to start?

[2016-04-28 19:04] ghost commented on #486
No this is not a workable solution.
2016-04-28 19:00:42,062 19474 ERROR xxxx_61_migrated openerp: Failed to initialize database `xxxx_61_migrated`.
Traceback (most recent call last):
  File "/var/tmp/openupgrade/7.0/server/openerp/cli/server.py", line 97, in preload_registry
    db, registry = openerp.pooler.get_db_and_pool(dbname,update_module=update_module)
  File "/var/tmp/openupgrade/7.0/serve

[2016-04-28 19:19] ghost commented on #486
OK, I could recreate  the record, which comes from a module I removed (helpdesk):

761;"Helpdesk Categories";"ir.actions.act_window";"";1;"2011-02-03 02:51:03.81238";"";;535;"crm.case.categ";"form";"[('object_id.model', '=', 'crm.helpdesk')]";"Create and manage helpdesk categories to better manage and classify your support requests.";t;;0;"tree,form";f;"current";"";f;"";80;"{'object_id':'crm.helpd

[2016-04-28 19:26] ghost commented on #486
It would be a better solution to sanitize the database looking for modules "uninstalled" and then remove all information related to these modules. Is it possible in OpenERP? Probably not.

[2016-04-28 20:05] ghost commented on #486
In fact, stopping migration is normal, this is a way to warn user. But tedious.

[2016-04-28 20:20] jbeficent opened #487 "column "openupgrade_legacy_8_0_supply_method" does not exist"
During the post-migration of module "mrp" we're getting this error:

Traceback (most recent call last):
  File "/opt/odoo/v8/OpenUpgrade/openerp/service/server.py", line 929, in preload_registries
    registry = RegistryManager.new(dbname, update_module=update_module)
  File "/opt/odoo/v8/OpenUpgrade/openerp/modules/registry.py", line 370, in new
    openerp.modules.load_modules(registry._db, forc

[2016-04-29 18:53] StefanRijnhart commented on #486
OpenUpgrade assumes a consistent database indeed. I have never had a lot of problems with that apart from the occasional glitch that needed fixing manually, similar to the one you encountered here. Also, I think referential integrity improved over the last major releases of Odoo. Closing this issue now.

Sanitize your database with https://github.com/OCA/server-tools/tree/7.0/database_cleanup. Not

[2016-04-29 18:53] #486 closed

[2016-04-29 19:01] StefanRijnhart commented on #487
https://github.com/OCA/OpenUpgrade/blob/8.0/addons/procurement/migrations/8.0.1.0/pre-migration.py#L31 (applied in line 51) is supposed to rename product_template's supply_method to its legacy name.

[2016-04-29 19:02] StefanRijnhart commented on #485
Actually, it would be great to have it as a feature.

[2016-04-29 19:03] StefanRijnhart commented on #484
:+1:  Can probably be fixed by checking the exit value of the failing process

[2016-04-29 19:39] StefanRijnhart commented on #477
Well, thank you for your interest in OpenUpgrade!

The code looks wrong to me indeed. I cannot find this sale_id on the procurement_order in the 6.0 data model. Instead, there is a procurement_id on the sale_order_line. It seems that procurement's new field sale_line_id in 6.1, and the related field on project_task that refers to it can simply be calculated by taking the reverse of this field. @hb

[2016-04-29 19:44] JordiBForgeFlow commented on #487
Thanks @StefanRijnhart. Not sure then why did the error appear. Will need to see the full log, to make sure that the pre-migration script for procurement was run correctly

[2016-05-02 18:10] mmalorni commented on #400
@pedrobaeza,  @StefanRijnhart, .@coleste has done a number of pull requests for the modules CRM, HR, Sales, Account, project, project issue, mail, product and stock. Those work for our environment but we feel that some features or fields might be used by others which will not be covered by the code.
The parts that have not been done should be identified in the working document of the analysis for

[2016-05-03 08:48] dhecar opened #495 "Error migrating from 7 to 8"
Hello, i'm triying to migrate database with data (copy of production for testing the migration.

the conf for Openupgrade have the addons for Openupgrade and all the other addons i have in the original db, like:

addons_path=/opt/odoo8/OpenUpgrade/addons,/opt/odoo8/custom8/MOTOSCOOT_V8,/opt/odoo8/custom8/l10n-spain,/opt/odoo8/custom8/odoomrp-wip,/opt/odoo8/custom8/odoomrp-utils,/opt/odoo8/custom8/

[2016-05-03 09:40] synconics opened #496 "[v7 to v8] error in stock module ?"
Hello all,
While migrating v7 to v8 I found following error at migration.log file.

  File "/var/tmp/openupgrade/8.0/server/openerp/service/server.py", line 919, in preload_registries
    registry = RegistryManager.new(dbname, update_module=update_module)
  File "/var/tmp/openupgrade/8.0/server/openerp/modules/registry.py", line 370, in new
    openerp.modules.load_modules(registry._db, force_demo

[2016-05-04 11:01] spitronello commented on #152
@abdellatifkarroum did you solve the
Failed, fallback on creating empty database + loading a dump?

[2016-05-04 13:30] StefanRijnhart commented on #496
Sorry, this does not ring a bell. Nice to know that you use OpenUpgrade for your migration services (http://synconics.com/erp-services/odoo-development-and-customization/odoo-erp-migration/). Care to submit a fix for this?

[2016-05-04 13:32] pedrobaeza commented on #496
This is an inconsistency in your DB because one product has changed their UoM across their life. This was allowed on 6.1, but forbidden on >7.0, but probably your DB came from that version.

[2016-05-04 13:33] pedrobaeza commented on #496
You have to solve it manually.

[2016-05-04 13:33] #496 closed

[2016-05-09 19:15] legalsylvain commented on #496
Hi @synconics, happy to see new people working and using OpenUpgrade !

I didn't saw any mentions of OpenUpgrade project on you website and no link to the OCA that hosts this project. Could you add it ?

Thanks !

[2016-05-17 18:49] mmalorni commented on #400
@pedrobaeza, @StefanRijnhart,@dreispt
 We did a migration of our own server with those modules and the only limitation was that the mail history was lost. Other limitations are listed in the analysis document of each module.
Some could potentially be reviewed and merged.

[WIP] 9.0 - stock #494 opened 15 days ago by @coleste (Anyone can get the PR and update it)
[WIP] 9.0 - sales #493 opened 15 da

[2016-05-18 11:52] mlpgmy opened #501 "Error migration openerp7 -> odoo8"
I am trying use the project to migration odoo8.
But i get the following error:
2016-05-18 11:48:42,929 690 WARNING test_migrated OpenUpgrade: Module procurement, table procurement_order, column state: In this database, 4 procurements are in draft state. In Odoo 8.0, these procurements cannot be processed further.
2016-05-18 11:48:42,930 690 INFO test_migrated OpenUpgrade: procurement: loading migr

[2016-05-18 12:00] pedrobaeza commented on #501
This is something of your DB, that doesn't have the information consistent. You have to fix these inconsistencies by yourself.

[2016-05-18 12:00] #501 closed

[2016-05-19 11:47] mlpgmy commented on #501
Means I need to fix these inconsistencies in odoo8 db?
Are the migration consider success?

[2016-05-19 12:01] pedrobaeza commented on #501
No, you have to fixed them on v7. And no, the migration is not done, because it has been interrupted by the error.

[2016-05-20 09:37] mlpgmy commented on #501
Sorry, I am new here.
Do you have sample guide for me to fix these inconsistencies?

[2016-05-20 09:39] pedrobaeza commented on #501
I'm afraid not. You are on your own there.

[2016-05-23 09:39] mlpgmy commented on #501
Sorry as I am new.
It must fix in the openerp7 or I can use the psql ?
If from psql, can let me know what the command I may use it?

[2016-05-25 07:36] JordiBForgeFlow commented on #487
Finally resolved the problem. Not an issue anymore.

[2016-05-25 07:36] #487 closed

[2016-06-06 12:26] hbrunn opened #502 "OpenUpgrade buildout"
I'm currently toying with https://github.com/hbrunn/OpenUpgrade/tree/buildout hoping to streamline the way migrations go at our place. Would this be interesting as a branch for this repo? What I like about this approach is that it's a lot more foolproof than `migrate.py` and simpler to extend, provided you use buildouts anyways.

[2016-06-06 12:27] pedrobaeza commented on #502
Well, the buildout itself is by far more complicated that migrate.py I think... but it can be interesting. Let's see what others say.

[2016-06-07 08:33] hbrunn commented on #495
the line numbers mentioned in the backtrace don't match https://github.com/OCA/OpenUpgrade/blob/8.0/addons/stock/migrations/8.0.1.1/post-migration.py, so you run outdated code. Update your code and reopen this issue if the problem persists.

[2016-06-07 08:33] #495 closed

[2016-06-07 08:53] hbrunn commented on #477
I can't remember how this came back then, and verify this is wrong, so a PR to fix this would be a good thing

[2016-06-07 08:55] hbrunn commented on #433
closing as https://github.com/OCA/OpenUpgrade/pull/473 was merged a while ago

[2016-06-07 08:55] #433 closed

[2016-06-07 08:56] hbrunn commented on #419
closing due to lack of reaction from OP

[2016-06-07 08:56] #419 closed

[2016-06-07 08:58] hbrunn commented on #40
closing as of https://github.com/OCA/OpenUpgrade/issues/40#issuecomment-199191123

[2016-06-07 08:58] #40 closed

[2016-06-13 05:57] StefanRijnhart commented on #501
[code]

The error means that there are mentionings of a partner with id 672 in the account_move table, but there is no entry in res_partner with this id. You can simply wipe the value in the account_move table, but I would investigate further to check how this could have happened and if there are more inconsistencies like this.

[2016-06-13 06:00] StefanRijnhart commented on #502
Yes, definitely. I always bark when people request the project to make it 'easier' in their humble opinion to run OpenUpgrade, but if these efforts are contributed to the project it should host them.

[2016-06-13 16:09] IJOL opened #508 "Problems upgrading a bare bones 7.0 database"
While doing what i suppoussed should be a ·easy· upgrade process just to try it, i get this error on migrate log:

2016-06-13 15:50:58,465 20491 ERROR acesticker_migrated openerp.addons.base.ir.ir_ui_view: El elemento '<group name="status" version="7.0">' no puede ser localizado en la vista padre

Error de contexto:
Vista `product.product.form`
[view_id: 222, xml_id: product.product_normal_form_vi

[2016-06-14 06:58] hbrunn commented on #508
when posting logs, set your system language to English next time, not everybody speaks Spanish. Openupgrade should ignore most view related errors, but this one looks different. Post the architecture of view with ids 222, 240 in the database to be migrated

[2016-06-14 07:30] IJOL commented on #508
Hmmn, everybody should know Spanish by now, we are taking the world by storm.... :)  I's a joke obviously, but i take the point we'll try to post them at least gtranslated, because of my big ignorance, how in the hell i could change the language of logs?... ( dont be afraid me colleagues are doing some frantic gogling to get know it )

I'm posting here  the arch of the 2 views involved from the da

[2016-06-14 07:33] hbrunn commented on #508
note that github comments are markdown, I fixed the syntax for you. Before, it was unreadable. For the logs in english: Start your server with `LANG=en ./openerp-server etc`

[2016-06-14 07:37] hbrunn commented on #508
what you posted as architecture of view 222 looks pretty much like the standard view (https://github.com/OCA/OCB/blob/7.0/addons/product/product_view.xml#L54), and should not inherit from anything. Clear out the `inherit_id` column for this record and try again.

[2016-06-14 07:50] IJOL commented on #508
Gosh, In my original database, this 2 views have inherit_id empty.... but in the migrated one.. they do have inherit_id in the 222, it seems basic form for product.product the 240 is the form for product.template, should i post archs for that views  from the migrated database?

[2016-06-14 07:55] hbrunn commented on #508
try if this helps. But probably we need your full migration log.

[2016-06-14 10:09] IJOL commented on #508
HI, thank for help, the complete migration log is on [https://dl.dropboxusercontent.com/u/58666391/migration.log](https://dl.dropboxusercontent.com/u/58666391/migration.log),

Let me Know if you need translation from Spanish, i'm trying to get the migrate.py to change Locale, so i'll be slow on english logs...

[2016-06-14 10:23] hbrunn commented on #508
aha. Search for a view that has `<group name="status" version="7.0">` in it's arch, this one is probably the culprit.

[2016-06-14 10:52] IJOL commented on #508
The search you suggested find nothing in db, but in the migrated database the arch for the product.template, is the one in xmlid product_normal_form_view in product.view.xml, and thus group name="status" couldnt be found, logical, but how end that arch there?

[2016-06-14 10:59] hbrunn commented on #508
there must be a view that contains this. It is normalized XML though, so what is precisely in the database can be somewhat different. Read through all view architectures for product.product, one of them should contain the snippet.

[2016-06-14 11:23] IJOL commented on #508
I think i've found something, in the view with name "product.normal.procurement.locations.inherit", which inherits from product.product_normal_form_view ( my 222 id view ) , this view is part of stock module..

[2016-06-14 13:51] StefanRijnhart opened #511 "Optimistic merge flow in OpenUpgrade"
Dear @OCA/openupgrade-maintainers, @OCA/core-maintainers,

in collaboration with @hbrunn I would like to continue the discussion of the Optimistic merge flow in OpenUpgrade. As layed out by Hintjens in his blog and his youtube talk, a single reviewer should be able to merge everything that does not break tests and is not trollishly bad (or merge with the option of reverting it again). Instead of r

[2016-06-14 14:14] hbrunn commented on #511
I would love to work this way in OpenUpgrade

[2016-06-14 14:26] pedrobaeza commented on #511
OK, let's try then.

[2016-06-14 14:31] max3903 commented on #511
+1

[image: Ursa Information Systems]
_Maxime Chambreuil__Project Manager / Consultant_

Ursa Information Systems
1450 W Guadalupe Road, Suite 132
Gilbert, Arizona, 85233
- Office:     1-855-URSA ERP x 710                 1-855-877 2377 x 710
  Mobile:   1-602-427-5632*

On Tue, Jun 14, 2016 at 9:27 AM, Pedro M. Baeza notifications@github.com
wrote:

[2016-06-14 14:59] StefanRijnhart commented on #511
OK, based on your preliminary support I merged #509 optimistically!

[2016-06-14 15:01] StefanRijnhart commented on #511
Do we want a develop/unstable branch to merge into, or just tag releases on the main branch?

[2016-06-14 15:01] pedrobaeza commented on #511
I have switched default branch to 9.0 now that the focus is there.

[2016-06-14 15:03] pedrobaeza commented on #511
Let's simplify using tags.

[2016-06-14 15:10] StefanRijnhart commented on #511
I'll use tags like ou9.0.1.0, with the prefix disambiguating from upstream tags.

[2016-06-14 15:14] pedrobaeza commented on #511
OK, but do we use 4 or 5 digits notation?

[2016-06-14 15:16] StefanRijnhart commented on #511
I'm thinking a major and a minor release digit suffices for us?

[2016-06-14 15:20] pedrobaeza commented on #511
OK, it's for being consistent with the rest of the OCA, but the meaning of "needs migration" here is a bit ironic :stuck_out_tongue_winking_eye:, so let's go with 2 digits.

[2016-06-14 15:26] StefanRijnhart commented on #511
;-) we now have release tags on all branches https://github.com/OCA/OpenUpgrade/releases

[2016-06-15 13:07] StefanRijnhart opened #514 "Hosting the test databases"
@hbrunn I created a release on Github for the databases. Please add them here:
https://github.com/OCA/OpenUpgrade/releases/edit/databases

You can then refer to them in Travis like this:
https://github.com/OCA/OpenUpgrade/releases/download/databases/8.0.psql

Unfortunately, I had to create a dummy branch to link the release to but I clarified this in the branch' README.

[2016-06-15 13:54] IJOL commented on #508
Hola:

Finally deleting the view product.normal.procurement.locations.inherit in module stock, did the trick, so i was able to end OpenUpgrade process, so many thanks..

But i'm eager to contribute a solution for the problem i've found is that possible?

Why i need to do that in my test db?

[2016-06-16 05:58] hbrunn commented on #508
you could research why this view was not deleted by the standard migration mechanism as it should have been. Probably that's a problem with your exact installation, not a general one. Maybe the view's entry in ir_model_data was deleted at some point, which is why is was not cleaned up? Or if there's an inheriting custom view, this also blocks deleting it.

[2016-06-16 05:58] #508 closed

[2016-06-16 06:03] hbrunn commented on #514
good idea! I changed the URL in https://github.com/OCA/OpenUpgrade/pull/515.

Did you consider using pages instead of releases? https://pages.github.com - we might also take this occasion to move doc.therp.nl/openupgrade there

[2016-06-16 09:33] StefanRijnhart commented on #514
Well, could have used any git repository and then download as raw, but I am fundamentally against version control on these files.

[2016-06-16 09:33] #514 closed

[2016-06-16 19:56] StefanRijnhart opened #518 "Migration unit tests of modules in odoo/addons are not run"
Traceback (most recent call last):
  File "/home/travis/build/OCA/OpenUpgrade/openerp/service/server.py", line 929, in preload_registries
    registry = RegistryManager.new(dbname, update_module=update_module)
  File "/home/travis/build/OCA/OpenUpgrade/openerp/modules/registry.py", line 370, in new
    openerp.modules.load_modules(registry._db, force_demo, status, update_module)
  File "/home/trav

[2016-06-16 22:10] StefanRijnhart opened #521 "Useless selection of upgradeable addons in Travis"
The selection in https://github.com/OCA/OpenUpgrade/blob/9.0/.travis.yml#L44 is useless, because as soon as you upgrade base, all the modules that depend on it (i.e. all modules) will be marked for upgrade as well. Sometimes the upgrade just marches on even on the non covered modules, but even then the tests take much longer than necessary.

Should we change this semantics in Odoo itself so that t

[2016-06-17 00:38] pedrobaeza commented on #521
If it can be done, I vote for that partial testing.

[2016-06-17 03:25] #518 closed

[2016-06-17 03:30] hbrunn commented on #521
The selection has its merits because of https://github.com/OCA/OpenUpgrade/blob/9.0/.travis.yml#L47, where we set modules not marked as migrated as uninstalled.

I don't think we should change such fundamental mechanisms if not absolutely necessary, and the inconvenience of waiting longer for test results doesn't qualify for me.

[2016-06-17 17:16] StefanRijnhart commented on #521
I see, I missed that when I was trying to fix tests locally on https://github.com/OCA/OpenUpgrade/pull/120. We'll have to see how that pans out in practice. Thanks for the clarification!

[2016-06-17 17:16] #521 closed

[2016-06-23 08:24] StefanRijnhart opened #539 "Add Jordi Ballester as a PSC"
Asking @OCA/openupgrade-maintainers for their approval to add @jbeficent to this team. He has managed to get some funding for the 9.0 edition, and is mobilizing a team with Therp and me to write and review migration scripts. We would find it useful if he could be given permissions to assign people and labels to issues and PRs, and to edit https://github.com/OCA/OpenUpgrade/issues/400 to track prog

[2016-06-23 08:41] hbrunn commented on #539
:+1:

[2016-06-23 08:42] hbrunn commented on #539
I don't think @OCA-git-bot and @oca-transbot are going to reply, so that's it. I'm still a pending member as I see right now, could out confirm my membership?

[2016-06-23 08:50] pedrobaeza commented on #539
:+1: I'll add both in OCA instance

[2016-06-23 08:50] StefanRijnhart commented on #539
cc @OCA/board

Well, I have the permissions in the odoo-community database so I will add you.

@legalsylvain, @pedrobaeza may I propose that you be member of the OpenUpgrade PSC?

[2016-06-23 08:50] StefanRijnhart commented on #539
Ah thanks @pedrobaeza for your support.

[2016-06-23 09:01] pedrobaeza commented on #539
Done. Next OCA sync will add them on GitHub

[2016-06-23 09:01] #539 closed

[2016-06-23 10:51] legalsylvain commented on #539
:+1:

[2016-06-28 18:38] ToBeReplaced opened #543 "Error on 9.0 migration account_cashbox_line"
My migration from 8 to 9 is failing at:
https://github.com/OCA/OpenUpgrade/blob/9.0/addons/account/migrations/9.0.1.1/post-migration.py#L190

[code]

The error is:
[code]

It's a little tricky for me to see what is going on because this is referencing tables in the post-migration step (so they don't exist after rollback). It looks like the whole query fails if there is more than one cashbox? Any r

[2016-06-28 18:48] hbrunn commented on #543
in https://github.com/OCA/OpenUpgrade/blob/9.0/addons/account/migrations/9.0.1.1/post-migration.py#L176, replace `s.id` with `l.id` and file a PR with this change here

[2016-06-28 20:15] #511 closed

[2016-07-04 12:01] #543 closed

[2016-07-05 08:25] yucer opened #550 "migration of crm.case.section.parent_id from v8 to v9"
I understand that OpenUpgrade will not migrate this field from v8 because the hierarchical sales team doesn't exist in sales_team module of v9. Am I right ?

Mi question is: Is this feature implemented by another module so that we can install it to migrate the field info ?

I was looking for the commit that removes the field, but I didn't found it.  The module analysis doesn't says that the field

[2016-07-05 15:35] hbrunn commented on #188
finally: https://github.com/OCA/openupgradelib/pull/49

[2016-07-05 15:35] #188 closed

[2016-07-05 17:56] pedrobaeza commented on #550
Maybe the analysis was done before this change. If you miss a feature, you can implement by yourself in a module. Regular behavior is to not drop removed columns, so when installing your new module in v9, you'll get all your old data.

[2016-07-05 17:56] #550 closed

[2016-07-20 21:37] jbeficent opened #558 "[9.0] technical menus are not fully accessible after migration"
When migrating from openupgrade 9.0 (up to commit 397eebe98ff0e545d39ee74cc7d2922240f53882), and using a demo database withjust module Base installed, the migration finishes with the following messages:
2016-07-20 21:04:25,997 12662 INFO odoo8_migrated openerp.models: Computing parent left and right for table ir_ui_menu...
2016-07-20 21:04:26,090 12662 INFO odoo8_migrated openerp.service.server: I

[2016-07-20 23:28] JordiBForgeFlow commented on #558
Ok, it's 1:20 AM and I found what was the issue...

In Odoo 9 it is assumed that only the users that belong to group "Extra Rights / Technical Features" will ever have access to the tech features. Still, the user has to activate the debugger mode in addition to belonging to this group.
In a brand new odoo 9 db install the admin user is granted access to this group. (https://github.com/odoo/odoo/bl

[2016-07-20 23:29] JordiBForgeFlow commented on #558
My proposal is that openupgrade makes sure that the SUPERUSER will be assigned to base.group_no_one always. cc @hbrunn @StefanRijnhart

[2016-07-21 04:32] StefanRijnhart commented on #558
The XML stanza that you refer to is non-noupdate, so it should have been be processed. Can you confirm that the features are still accessible in debug mode? In that case, this is not a bug, but an Odoo 9.0 feature. See https://github.com/odoo/odoo/blob/9.0/openerp/models.py#L1379

It is why I wrote https://github.com/OCA/server-tools/tree/9.0/base_technical_features.

Let's start with a test https

[2016-07-21 04:35] hbrunn commented on #558
the solution is simple: In OpenUpgrade, this still is noupdate https://github.com/OCA/OpenUpgrade/blob/9.0/openerp/addons/base/security/base_security.xml#L3 - we need another upstream sync

[2016-07-21 04:39] StefanRijnhart commented on #558
Found that out too https://github.com/odoo/odoo/commit/520243b3cb2f43870bfbc7cd204af44434d419a2

[2016-07-21 04:39] StefanRijnhart commented on #558
Let me push this

[2016-07-21 05:03] hbrunn commented on #558
should be fixed with https://github.com/OCA/OpenUpgrade/pull/560
oops @StefanRijnhart, didn't see your message. Hope we didn't duplicate work?

[2016-07-21 05:42] StefanRijnhart commented on #558
Yes, quite a bit of work. I'll leave the chart digit glitch to you then!

[2016-07-21 05:49] StefanRijnhart commented on #558
Let's use the Assignee functionality of this bug tracker next time ;-)

[2016-07-26 06:40] #558 closed

[2016-07-26 12:41] martintamare commented on #107
Could you elaborate on how to solve the problem ?

[2016-07-26 14:44] jbeficent opened #571 "[9.0] [crm] Conversion of next actions in leads to crm.activity"
In 8.0 the crm.lead model contains the fields 'title_action' and 'date_action'.

![image](https://cloud.githubusercontent.com/assets/7683926/17140388/994cf9ba-5348-11e6-97ce-b1072146113b.png)

In v9 the fields are migrated, but they are being hidden because there's no next_activity_id. See https://github.com/odoo/odoo/blob/9.0/addons/crm/crm_lead_view.xml#L495

See:
![image](https://cloud.githubus

[2016-07-28 08:13] JordiBForgeFlow opened #577 "[9.0][account] Analytic line views not removed during migration"
Impacted versions: 9.0

Steps to reproduce:
Migrate a demo database in v8 with modules 'analytic' and 'account' installed.

Current behavior:
The form, search and tree views for model 'account.analytic.line.tree' are not deleted.

Depending on how Odoo decides to render the views, this may result in an error  such as:
_File "/home/jordi/Odoo9/openerp/addons/base/ir/ir_ui_view.py", line 463, in rai

[2016-07-28 08:24] jbeficent opened #578 "[9.0][analytic] Analytic accounts of type='view' should be deleted"
Impacted versions: 9.0

Steps to reproduce:
Migrate a database in 8.0 with module 'analytic' installed.

Current behavior:
The analytic accounts of type 'view' are migrated to analytic accounts with tag 'view'.

Expected behavior:
These analytic accounts will not be used anymore in v9.

Instead, the child analytic accounts may incorporate a tag with the name of the old analytic account.
In case of

[2016-07-28 12:17] hbrunn commented on #577
have a look at the log of a successful migration: https://travis-ci.org/OCA/OpenUpgrade/builds/147954920#L4416

At the end, odoo will delete all records pointed to by obsolete xmlids from migrated models. Check out how this looks in your migration, probably you'll find a line where odoo tries to do this, but there are other views inheriting from it or some other reason leads to the view not being

[2016-07-28 12:39] JordiBForgeFlow commented on #577
Looking at Travis I can see:
2016-07-28 07:14:48,586 24245 INFO openupgrade openerp.addons.base.ir.ir_model: Deleting 824@ir.ui.view
2016-07-28 07:14:48,589 24245 INFO openupgrade openerp.sql_db: bad query: delete from ir_ui_view where id IN (824)
2016-07-28 07:14:48,590 24245 WARNING openupgrade openerp.addons.base.ir.ir_model: Could not delete obsolete record with id: 824 of model ir.ui.view

Th

[2016-07-28 12:54] hbrunn commented on #577
so deleting the views is inhibited, which is a good think. Look at this:

[code]

So it's a matter of patience until those modules are migrated too, then the inheriting views will be gone too, and we should be fine.

[2016-07-28 13:13] JordiBForgeFlow commented on #577
hmm, thanks. I will then speed up the migration of those modules. Because otherwise it gives me trouble.

[2016-07-28 13:15] hbrunn commented on #577
database cleanup should be your friend here too

[2016-07-28 13:43] JordiBForgeFlow commented on #577
project_timesheet is already migrated, and hr_timesheet_invoice does not migrate at all, so the problem should be solved by now.

When you purge obsolete views with database_cleanup, the views associated to 'hr_timesheet_invoice' are deleted, but not the views from 'project_timesheet'.

During the migration the views are losing the external ID. See below. When I exported the views, they generated

[2016-07-28 14:02] hbrunn commented on #577
hmmm, yes. The obsolete module is the problem, didn't pay attention to that. And indeed the xmlids will be purged, after that we don't really have a chance to detect views to be deleted.

@OCA/openupgrade-maintainers how should we handle this kind of situation? I'd be in favor of adding obsolete modules in openupgrade with the old dependencies, but further empty manifest and init. Then odoo's xmli

[2016-07-28 15:04] pedrobaeza commented on #577
I prefer to add the removed addons from version to version as dummy modules (without content), or add content if needed for migration purposes. In the documentation, they should also be included in the module coverage, because when you check if your DB can be migrated from v8 to v9, you are seeing if v8 modules are covered in this table. If you don't see the entry in the table, then you don't know

[2016-07-28 15:18] hbrunn commented on #577
@pedrobaeza my difficulty with this is that the side effect of the dummy module is that all the module's columns/tables will be dropped, which contradicts our stance of keeping as much data intact as possible. And moving all columns/tables away in such a case also seems a bit untenable. What's you opinion about the second option? The more I think about this, the more I think this is a bug that sho

[2016-07-28 15:47] pedrobaeza commented on #577
OK, I see the problem. Yes, you're right, we can't do that.

Let's try then the second path.

Anyway, I think the covered modules issue should be treated as mentioned. Putting for example "Merged and treated in module X", or "Nothing to do", or "Migrated module in OCA/repository", what do you think about this part?

[2016-07-28 15:49] hbrunn commented on #577
that obsolete modules should show up on https://doc.therp.nl/openupgrade/modules80-90.html, possible with a sentence on how to replace the functionality? sure, good one

[2016-07-28 15:58] hbrunn commented on #577
If you want to upvote my PR: https://github.com/odoo/odoo/pull/12954
@jbeficent can you try if this fixes your problem? You'll have to adapt this a bit because the function is still v7 api in 9. So for this, I think you'll be better off creating a dict with the tuples as keys and the id as value in https://github.com/odoo/odoo/blob/9.0/openerp/addons/base/ir/ir_model.py#L1203, then use this to det

[2016-07-28 16:15] hbrunn commented on #577
@pedrobaeza I'm not so sure if you did this PR a favor by mentioning the ugly O-word...

[2016-07-28 16:17] pedrobaeza commented on #577
Ouch, I didn't remember that we are in a world not so open... but they said that the migration scripts are not now a core part of their business. Sorry anyway for not being aware of that.

[2016-07-28 16:20] JordiBForgeFlow commented on #577
Silly question, but as a workaround, could we just delete the xml data records including all views where it is used in the pre-migration script? The proposed approach seems to me a bit like killing mosquitoes with cannons ;)

[2016-07-28 16:23] lasley commented on #577
I've had more luck in refilling the XML IDs (although not in the context of a migration) because the records are typically remaining due to relational restrictions.

[2016-07-28 16:31] hbrunn commented on #577
@jbeficent if you just want to get the stuff done, delete the views and the inherits before the migration. But this doesn't scale (we don't want to delete this kind of stuff manually in migration scripts), and in order to have this fixed once and for all for everything, we need the bazooka

[2016-07-29 19:10] StefanRijnhart commented on #558
@jbeficent is this bug actually solved? The related test still fails https://travis-ci.org/OCA/OpenUpgrade/builds/148031969

[2016-07-29 19:13] StefanRijnhart opened #588 "Tests fail but build is green"
https://travis-ci.org/OCA/OpenUpgrade/builds/148396506#L1603

cc @hbrunn

[2016-07-29 19:21] StefanRijnhart opened #589 "Freeze 9.0 for release"
Hi @OCA/openupgrade-maintainers,

I'd like to do a release of 9.0. Because of the quick turnaround (kudos @hbrunn!) I'd like to freeze the branch and only apply bugfixing PRs (I have submitted 2 of those) in the next couple of days. Any other fixes are still welcome as well, of course. The maintainer to fix the last of the open bugfixes can tag release ou9.0.2.0 and then the freeze is lifted again

[2016-07-29 19:27] StefanRijnhart commented on #589
BTW to clarify, an OpenUpgrade release is not supposed to be super stable, but it is a mark that someone (me in this case) has gone through all the code that was optimistically merged since the last release. I'd like us to do releases more often, because there was a lot of code to review this time but fortunately the quality was very good.

[2016-07-29 19:37] StefanRijnhart commented on #577
So, would it help if we merge @hbrunn's Odoo PR in OpenUpgrade now?

[2016-07-29 20:14] pedrobaeza commented on #589
Although I'm not yet participating too much on 9.0, it seems to me a good idea.

:+1:

[2016-07-30 13:49] jbeficent opened #590 "Analysis work file. Detect changes to XML data records with noupdate="1""
Would be nice if the openupgrade analysis tool would be able to detect data records with noupdate="1" that exist across two versions, where there are changes in the data. This would trigger the need to use openupgrade.load_data to force the reload of the correct data for the newer version. For example: https://github.com/OCA/OpenUpgrade/pull/586.

[2016-07-31 09:16] hbrunn commented on #589
done, so closing this

[2016-07-31 09:16] #589 closed

[2016-08-01 05:53] StefanRijnhart commented on #590
We could run https://github.com/OCA/OpenUpgrade/blob/8.0/scripts/compare_noupdate_xml_records.py for each module and store the results in migrations/x.x.x.x/noupdate_changes.analysis. After a review, the result could be renamed and loaded in a migration script.

[2016-08-01 06:51] StefanRijnhart commented on #589
@hbrunn thanks, but did you push the tag?

[2016-08-01 08:10] hbrunn commented on #589
no. I didn't even create one because I mixed this up with 9.0.1.0. Thanks for the reminder, now it's fixed

[2016-08-01 08:38] pankk commented on #107
@martintamare IIRC the mail module did not have migration scripts at the moment of opening this issue, they were added a few weeks later, so you should not run into the same issue as above anymore using a recent version of OpenUpgrade. Have a look at the mail migration scripts, they might hold a clue to solving the errors you are getting.

[2016-08-01 11:48] #588 closed

[2016-08-01 11:52] hbrunn commented on #588
@StefanRijnhart I was too slow to have a look why the test fails and to fix that. Are you going to propose that? (asking in order not to duplicate work again)

[2016-08-01 12:48] jholze commented on #400
@StefanRijnhart @pedrobaeza We are in planning to migrate to the odoo version 10 in the Q1 of 2017 and the plan is to use and support the openupgrade project. What do you guys think will be the best way, to first finish the migration scripts for 9 and than update / add new for 10, or to write the scripts for 10 and downgrade the specific scripts to 9 ?

[2016-08-01 12:57] hbrunn commented on #400
This depends on what you want to upgrade. If it's a v9 database, the scripts migrating to v9 are not interesting for you. If you want to migrate a v8 or lower database to 10, you'll need the v9 scripts anyways (openupgrade is always incremental)

You might want to talk to @jbeficent who gathered the funds for a big part of the current v9 migration to check if you allocated enough resources.

[2016-08-01 14:56] JordiBForgeFlow commented on #590
That could be a great thing from a usability perspective. You will quickly know what modules require attention, instead of having to run the script for each module.

[2016-08-01 16:07] martintamare commented on #107
Here is what fixed the issue for me using raw postgresql (ugly but efficient ^^):
`update res_partner set  notify_email ='always' where notify_email='none';`

The problem was present when clicking on a res.partners in the list view -> I then focus on the res.partner table and see the constraint there. none was not supposed to be in notify_email :)

[2016-08-01 22:47] jholze commented on #400
ok, thanks for both. I didn't knew that the upgrade scripts are incremental.

[2016-08-02 07:40] pankk commented on #107
@martintamare Thanks for sharing your solution. Maybe I don't fully understand the problem, and I'm not sure to which version you are migrating, but 'none' should be a valid option for that field (e.g. [https://github.com/odoo/odoo/blob/master/addons/mail/models/res_partner.py#L21](url)).

[2016-08-02 08:26] martintamare commented on #107
We started with openrp 7.0 then updating to odoo 8.0 using OCA.
Since the migration, we had this issue. Debugging the JS is a real pain so maybe that is not the correct fix.
We had a dirty installation with plenty of old module, I clean it all, let's see where this is leading us ;)
Anyway I can't reproduce the issue anymore, so ... :)

[2016-08-04 17:47] marcosligero opened #609 "[7.0 -> 8.0] Issue with l10_es module post-migration script"
We have just detected that if installing the last revisions of the i10n_es modules on a 7.x instance and performing a DB update on OpenERP server the account_types mappings are being performed already, so migrating to 8.0 crashes.

Here is the approach that we have used just in case it could be helpful to update on the code. Changing map_account_types function would solve the issue. File attached.

[2016-08-08 14:41] StefanRijnhart opened #613 "[9.0] Init script of account_full_reconcile is not run"
account_full_reconcile is a module that was added after the release of 9.0. It is installed automatically after a migration of a database containing 'account', because it is set to auto_install and depends on 'account' only. It includes its own post init script, but the init script is not run because auto-installed modules are installed in update mode and their (cached) state at that moment seems

[2016-08-08 15:51] StefanRijnhart commented on #609
Hi @marcosligero thank you for your input and welcome to GitHub! We would love to receive your change in a Github PR. This involves for you to fork this project, make your changes in your local branch and push them to your own fork. From this branch in the Github interface, create the PR.

[2016-08-08 15:54] #613 closed

[2016-08-09 04:12] cartertech opened #616 "No user found in configuration when attempting to run"
Impacted versions: 9.0

Steps to reproduce: I am trying to migrate an Odoo 8.0 database to version 9.0 using the migrate.py script. While running, I receive an error that "No user found in configuration". My Odoo configuration file is OK so I do not understand why this error is coming up.

Config file attached.
[openerp.txt](https://github.com/OCA/OpenUpgrade/files/408184/openerp.txt)

[2016-08-09 04:20] cartertech commented on #616
Moved the file to the same folder as migrate.py instead of using the full path and it resolved the issue

[2016-08-09 04:20] #616 closed

[2016-08-09 11:00] Sekiltoyai opened #617 "Migrate.py uses unsynced versions of openupgradelib and OpenUpgrade"
Migrate.py depends on:
* an openupgradelib from pip install, as stated in the following reply:
https://github.com/OCA/OpenUpgrade/issues/362
* an OpenUpgrade from github (latest commit automatically downloaded by the script)

In some cases, the openupgradelib provided by pip install is out of sync with the OpenUpgrade provided by github, causing execution errors.

Example:
* Up to date openupgrade

[2016-08-09 11:03] pedrobaeza commented on #617
That's not true since https://github.com/OCA/OpenUpgrade/pull/397

[2016-08-09 11:03] #617 closed

[2016-08-09 12:51] Sekiltoyai commented on #617
This pull request have been pulled in branch 8.0 but not in branch 9.0.
The migrate.py file refered in the online documentation (https://doc.therp.nl/openupgrade/migrate.py.html) is the one from HEAD (branch 9.0).

[2016-08-09 13:43] pedrobaeza commented on #617
@hbrunn, it was not used the same logic in 9.0?

[2016-08-10 07:24] hbrunn commented on #617
this was merged after we created the 9.0 branch, so passing them over was simply forgotten after the 9.0 branch was made HEAD. Fixed in https://github.com/OCA/OpenUpgrade/pull/620

[2016-08-11 08:58] jbeficent opened #622 "[9.0][account] Migration of fiscal year closing entries."
The journal entries generated by the Odoo standard fiscal year closing procedure are not closed in the previous FY and reopened in the next FY. Instead, the resulting balance of the previous FY is repeated in the FY. So, if you keep these journal entries in v9, and compute the BS dynamically, from the start of times until  the desired time, the result will be TOTALLY incorrect.

Companies that use

[2016-08-15 16:46] rrickardt opened #626 "TypeError: migrate() got an unexpected keyword argument 'use_env'"
Impacted versions:

Latest from git obtained with migrate.py

Steps to reproduce:

I am migrating 8.0 database to 9.0.  I run:

 python migrate.py -D odoo83 -B ./openupgrade -R 9.0  -C openerp-server.conf

Current behavior:

stdout output:

From git://github.com/OpenUpgrade/OpenUpgrade
 * branch            9.0        -> FETCH_HEAD
Already up-to-date.
copying database odoo83 to odoo83_migrated...
C

[2016-08-15 20:05] pedrobaeza commented on #626
It has been solved in https://github.com/OCA/OpenUpgrade/pull/620, so please update your source code.

[2016-08-15 20:05] #626 closed

[2016-08-17 05:05] jbeficent opened #628 "[9.0]"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-08-17 05:36] #628 closed

[2016-08-23 05:06] jbeficent opened #629 "[9.0][sale] Fails to migrate during computation of invoice_qty"
During the migration of the sale module the following error stops the process:

2016-08-22 20:17:27,151 25807 CRITICAL ao_odoo_test openerp.service.server: Failed to initialize database `ao_odoo_test`.
Traceback (most recent call last):
  File "/opt/openupgrade9/parts/odoo9/openerp/service/server.py", line 892, in preload_registries
    registry = RegistryManager.new(dbname, update_module=update_m

[2016-08-25 20:36] mmalorni opened #630 "[9.0][CRM] CRM.Stage not converted properly"
Impacted versions: 9.0

Steps to reproduce: Migrate to 9.0 with opportunity stages added to the default ones.

Current behavior: After the migration, when you filter the opportunities and some kanban columns are left empty they disappear and when you open a form they do not appear as a Stage you can move the opportunity to.

Expected behavior:  All the opportunity stages should be displayed at all

[2016-08-29 05:22] JordiBForgeFlow commented on #629
Now closing this issue. Was a bad update SQL query executed before starting the migration process.

[2016-08-29 05:22] #629 closed

[2016-09-20 08:34] mgielissen opened #637 "Programming error: relation "crm_case_section" does not exist"
While running the script to migrate a v7 to v8 I get this error:

[code]

[2016-09-20 09:30] mgielissen commented on #637
_addons/sales_team/migrations/8.0.1.0/pre-migration.py_ seems to be a patch for demo data, but the database doesn't contain demo data. I comment out line 34 and the migration continues

[2016-09-27 15:28] jbeficent opened #639 "[9.0] Error when trying to Purge obsolete modules"
Impacted versions: 9.0

Steps to reproduce:
Migrate a DB from 8.0 to 9.0 and, using module 'database_cleanup', start the menu "Purge obsolete modules'.

Current behavior:

[code]

Expected behavior:
No error

[2016-09-27 15:38] hbrunn commented on #639
this is a database_cleanup issue, not an openupgrade one. Please open your issue there. But pull first, I added a couple of fixes for this module lately which have been merged already

[2016-09-27 15:38] #639 closed

[2016-10-10 23:04] jeanabreu opened #642 "Error: "Module openerp was already imported from...""
When I tried to migrate to Odoo 8, I get this error:
============================
copying database testing_db to testing_db_migrated...
Copying the database using 'with template'
Failed, fallback on creating empty database + loading a dump
running migration for 8.0
/usr/lib/python2.7/dist-packages/babel/__init__.py:33: UserWarning: Module openerp was already imported from /var/tmp/openupgrade/8.0/

[2016-10-10 23:24] pedrobaeza commented on #642
This doesn't proceed here, and I recommend you not to spam all mailing lists and projects if you want to receive a proper answer.

[2016-10-10 23:24] #642 closed

[2016-10-11 14:50] mgielissen opened #643 "images from products and partners removed after upgrade 8 -> 9"
After upgrading from v8 to v9 all the images from products and partners are removed.

[2016-10-13 19:33] #622 closed

[2016-10-18 08:51] NL66278 opened #646 "Rename of module account_check_writing to account_check_printing has no effect"
Impacted versions: migration of 8.0 to 9.0

Steps to reproduce: Run migration script on a database with account_check_writing installed

Current behavior: Module account_check_writing (which no longer exists) will have status 'to upgrade'. module account_check_printing will be uninstalled

Expected behavior: Module account_check_printing having status installed and module account_check_writing del

[2016-10-18 11:01] pedrobaeza commented on #646
For other renamings, I haven't got any problem, so I'm not sure if something went bad in your migration that unrolled the change or what...

[2016-10-18 11:05] NL66278 commented on #646
@pedrobaeza Is this for 8.0 to 9.0? Strangely enough I did not find any logic to actually process the renaming at all. Only in the analysis. But I might have looked at the wrong places...

[2016-11-04 09:43] StefanRijnhart commented on #646
Closing, as fix is merged

[2016-11-04 09:43] #646 closed

[2016-11-04 09:44] StefanRijnhart opened #657 "#651 needs backport"
This is a reminder that https://github.com/OCA/OpenUpgrade/pull/651 needs back and foreporting to other branches of openupgrade.

[2016-11-07 05:50] cewolf2002 opened #658 "[8.0 -> 9.0] Key (channel_id)=(2) is not present in table "mail_channel"."
Please Help.
We tried to migrate our Version 8.0 database to 9.0.
But always stop here.
I searched database but can not find table "mail_channel"

Server running ubuntu 14.04.5
All modules are already up-to-date.
And odoo version is 20161106

Full log:
http://pastebin.com/rFU4vBig

[2016-11-07 07:44] cewolf2002 commented on #658
I checked database, table mail_group, email_template, mail_group_res_group_rel not rename to mail_channel, mail_template, mail_channel_res_group_rel
Is there any way to fix it?

[2016-11-07 08:35] hbrunn commented on #658
check if there's any mail follower in your original database with res_model='mail.channel', and delete those

[2016-11-07 08:46] cewolf2002 commented on #658
I excuted select \* from mail_followers where res_model = 'mail.channel' and no record.

[2016-11-07 08:49] hbrunn commented on #658
do the same with mail.group. If there comes out a group res_id which doesn't exist, delete those records

[2016-11-08 07:05] cewolf2002 commented on #658
Issue solved after deleting records with res_model = 'mail.group'.
Thanks for your help.

Another question.
http://pastebin.com/ArY7qTPF

Would you know why Openupgrade use so much time to excute next line between line 2017 and 2018? (14 hours)
2016-11-07 09:44:51,004 21436 DEBUG GAPL_migrated OpenUpgrade: 1 rows affected
2016-11-07 23:32:21,538 21436 DEBUG GAPL_migrated OpenUpgrade: Running

Is t

[2016-11-08 07:35] hbrunn commented on #658
nothing wrong, this is a part of the account migration which is painfully slow. https://github.com/OCA/OpenUpgrade/pull/634 contains an attempt to speed things up.

Closing this as the original issue is solved

[2016-11-08 07:35] #658 closed

[2016-11-08 23:14] cliffkujala opened #659 "Anyone see anything obvious in my log that is failing my migration"
Impacted versions:
9.0

Steps to reproduce:
I followed this ( http://www.patrikdufresne.com/fr/migration-odoo-8/ ) step by step tutorial with a little more detail on how to use the migrate.py script.  It is in french but Google did a good job translating it for me.  The biggest help was the fact that this tutorial pointed out to me that the migrate script gets ran on the Target version of Odoo.  I

[2016-11-09 00:29] pedrobaeza commented on #659
You should check the full log of your migration and see the possible errors in there.

[2016-11-09 02:37] hbrunn commented on #659
OpenUpgrade doesn't clean up deprecated/unavailable modules, and those usually leave behing views which cause trouble. It's out of scope for OpenUpgrade to do something about this, but we have https://github.com/OCA/server-tools/tree/9.0/database_cleanup for this job. Install this in your migrated database and purge those modules, then you should be fine

[2016-11-09 02:42] hbrunn commented on #659
wait, your log is very clear about this: "Error while validating constraint. You cannot have a receivable/payable account that is not reconciliable. (account code: 201)" - the migration doesn't finish successfully. Fix your accounts in 8 and rerun the migration.

[2016-11-10 08:02] cewolf2002 opened #660 "[8.0 -> 9.0] Is my migration finished?"
Impacted versions:
9.0

Steps to reproduce:
http://pastebin.com/9WEeP2aJ

Current behavior:
Show messages.
2016-11-09 21:42:58,080 29181 INFO GAPL_migrated openerp.models: Computing parent left and right for table ir_ui_menu...
2016-11-09 21:42:58,224 29181 INFO GAPL_migrated openerp.modules.registry: Registry changed, signaling through the database
2016-11-09 21:42:58,230 29181 INFO GAPL_migrated

[2016-11-10 08:06] hbrunn commented on #660
OpenUpgrade is finished. Now you'll have to clean up using `database_cleanup`, probably do some finishing touches, that's it.

[2016-11-10 08:06] #660 closed

[2016-11-11 01:48] cewolf2002 commented on #660
I uploaded migrated database.
After loginby admin, layout was broken.
How could I fix it?
![screenshot 2016-11-11 09 23 00](https://cloud.githubusercontent.com/assets/16146906/20201558/02db9b16-a7f4-11e6-836e-47b85fba80c0.png)

[2016-11-11 06:17] hbrunn commented on #660
this stuff is 101 odoo and has nothing to do with open upgrade. You might be better off hiring an expert.

[2016-11-13 14:00] roberto-barreiro opened #661 "Requiered essential addons to upgrade"
Impacted versions: 8.0

Steps to reproduce: Uninstall all addons not suportted for 8.0 to 9.0 migration

I tryed to uninstall all modules not supported by OpenUpgrade successfully, except the following modules:

edi, procurement, web_kanban_gauge, web_kanban_sparkline

If I try to uninstall anyone of these modules, another modules supported by openupgrade like crm, sale or purchase, are going to b

[2016-11-13 14:38] hbrunn commented on #661
why would you want to uninstall those modules in the first place? The standard procedure is to keep them and purge them with https://github.com/OCA/server-tools/tree/9.0/database_cleanup afterwards

[2016-11-13 14:38] #661 closed

[2016-11-13 15:06] roberto-barreiro commented on #661
Thank you for your answer, I have not seen that step in the openupgrade documentation.

[2016-11-13 15:21] hbrunn commented on #661
your PR to update the documentation is welcome

[2016-11-13 22:04] balapal opened #662 "[9.0 ->10.0] Migrating from Odoo 9 to 10 fails with error msg: column "store" of relation "ir_model_fields" does not exist"
**Impacted versions:**
When running https://github.com/OCA/OpenUpgrade/blob/10.0/scripts/migrate.py
(commit sha: 32c2dc2a1ee4dbf3d1811d64495b87e3e71a456d)

## Steps to reproduce:
Upgrading from Odoo 9.0c-20160620 to 10.0 when running:
`python migrate.py --config=/opt/bitnami/apps/odoo/conf/openerp-server.conf --run-migrations=10.0`

## Current behavior:

**Std output content:**
[code]

**Log file

[2016-11-13 22:19] balapal commented on #662
1. By comparing the below two sql files I can see that the column called store has been added 10.0
2. What I also noticed that the directory has been renamed from openerp to odoo. Not sure if it has anything to do with the failure, though.

https://github.com/odoo/odoo/blob/9.0/openerp/addons/base/base.sql
vs
https://github.com/odoo/odoo/blob/10.0/odoo/addons/base/base.sql

[2016-11-13 23:16] balapal commented on #662
I can see 8.0->9.0 script on 9.0 branch to add columns to `ir_model_fields` table: https://github.com/OCA/OpenUpgrade/blob/9.0/openerp/openupgrade/openupgrade_loading_90.py

For 10.0 at https://github.com/OCA/OpenUpgrade/tree/10.0/odoo/openupgrade I don't see such script.
I guess we need to create a script that adds the missing columns to `ir_model_fields`.

[2016-11-14 00:32] pedrobaeza commented on #662
This migration is not yet available.

[2016-11-14 00:32] #662 closed

[2016-11-14 08:28] cewolf2002 commented on #643
We are facing the same issue.
Do you have any solutions now?

[2016-11-14 08:29] #659 closed

[2016-11-14 08:29] pedrobaeza commented on #609
No issue on my side, so I close.

[2016-11-14 08:29] #609 closed

[2016-11-14 08:31] pedrobaeza commented on #502
Closing this waiting for a PR. I would prefer anyway a Docker for migrating instead of buildout.

[2016-11-14 08:31] #502 closed

[2016-11-14 08:31] #431 closed

[2016-11-14 10:33] legalsylvain commented on #502
Hi @hbrunn. thanks for pointing this work. I'll try to take a look on that in a while. I used to work with buildout, for my deployment process.
kind regards.

[2016-11-14 11:03] hbrunn commented on #502
I'm using this for all our migrations now, and I'm quite happy with it

[2016-11-17 10:32] roberto-barreiro commented on #400
Is this list updated? Purchase module isn't still supported for migration?

[2016-11-17 11:12] pedrobaeza commented on #400
Indeed that one was forgotten to be update. Done on https://github.com/OCA/OpenUpgrade/commit/1f5b73acb143465d9e0ce30f1d6d54dd8caefe65

[2016-11-17 11:14] roberto-barreiro commented on #400
Thank you for answering and updating Pedro.

[2016-11-19 07:44] vijaypatil091 opened #665 "ValueError: need more than 1 value to unpack"
Impacted versions: 9.0

Steps to reproduce: run migrate.py file.

Current behavior: ValueError: need more than 1 value to unpack

Expected behavior: No Error

Video/Screenshot link (optional):

I am trying to migrate from V8 to V9.

Traceback (most recent call last):
  File "/var/tmp/openupgrade/9.0/server/openerp-server", line 5, in <module>
    openerp.cli.main()
  File "/var/tmp/openupgrade/9.0

[2016-11-19 14:05] vijaypatil091 commented on #665
Hi Folks,

Issue sorted. Few parameters from configuration files were misplaced. Thanks.

[2016-11-19 14:05] #665 closed

[2016-11-24 14:58] manumanu17 opened #673 "[9.0] Mail module : "mail_channel_partner" is not present in the migrated table"
Hi,

It seems to have an issue when upgrading from version 8 to 9 with mail addons.
The problem is that the table "mail_channel_partner" is not present in the migrated table. Here is the error log.

2016-11-24 14:40:20,281 30817 INFO table_migrated OpenUpgrade: mail: pre-migration script called with version 8.0.1.0
2016-11-24 14:40:20,282 30817 INFO table_migrated OpenUpgrade: model mail.group: re

[2016-11-24 15:02] hbrunn commented on #673
sounds a lot like https://github.com/OCA/OpenUpgrade/issues/658, the solution should be the same

[2016-11-24 18:21] E-HO commented on #673
In fact the script seems to go further by removing "mail.group'.

It is not a good idea to directly add a removing feature in the sources ?

[2016-11-24 19:24] hbrunn commented on #673
first we need to know if this is actually your problem. is it?

and yes, it *renames* `mail.group` to `mail.channel`, because the's the best functional equivalent

[2016-11-25 08:25] E-HO commented on #673
I mean adding a line to remove mail.group during the upgrade script to avoid this error with :

With that, it seems to work : before, the scripts was stopped, and now it continues with account upgrade (who sould take time).

[2016-11-28 13:43] BzMB opened #683 "Migration scripts for v10: status"
Hi,

First of all, thanks for all your work on that topic.

We have a openerp (7.0) project/db to migrate to the 10 community version, with a few custom module.

1) v10 script status
wget https://raw.githubusercontent.com/OCA/OpenUpgrade/HEAD/scripts/migrate.py
try to execute:
python migrate.py --config=xxx.server.conf --database=xxx --run-migrations=10.0

What's the status of the "migrate.py" scr

[2016-11-28 13:48] pedrobaeza commented on #683
There isn't anything yet for migrating to v10. You should know also that you need to migrate through all versions: 7.0 > 8.0 > 9.0 > 10.0, which will imply for sure a very deep knowledge of Odoo and OpenUpgrade to handle possible errors.

[2016-11-28 13:48] #683 closed

[2016-11-29 18:30] pedrobaeza opened #684 "Use new `end` migration scripts from upstream (WIP)"
Odoo is incorporating a new mechanism for executing a script after all the modules are updated, so this can be very similar to our current mechanism, but implemented module by module.

It's worth to track this and adapt for the needed versions: https://github.com/odoo/odoo/pull/14522

[2016-11-30 00:26] Whytehorse commented on #152
I got this error when migrating from 8->10 and resolved it by killing the running odoo process
Copying the database using 'with template'
Failed, fallback on creating empty database + loading a dump

[2016-11-30 05:25] ovnicraft opened #685 "[7.0] Error in account_analytic_plan module migrating 6.1 -> 7.0"
Impacted versions:
7.0
Steps to reproduce:

run:

`python migrate.py --config=openerp.conf  --database=herdoiza11 --run-migrations=7.0`

Current behavior:

Error log:

[code]

Expected behavior:

migrate account_analytic_plan module

Video/Screenshot link (optional):

[2016-11-30 11:08] Whytehorse opened #686 "odoo-bin: not found"
I'm getting the following error when migrating from 8.0 to 10.0:
sh: 1: /var/tmp/openupgrade/10.0/server/odoo-bin: not found
I upgraded from 8 to 9 with no problems and then from 9 to 10 I get that error. I did ls the directory and the file is not there.

Impacted versions: 8.0, 9.0

Steps to reproduce:
`python migrate.py --config=/etc/odoo/openerp-server.conf --database=production --run-migration

[2016-11-30 14:46] dreispt opened #687 "How can I contribute to improve the docs?"
Can you please point me to the source for the docs?

[2016-11-30 14:47] ovnicraft commented on #685
Its a bug here https://github.com/OCA/OpenUpgrade/blob/7.0/addons/account_analytic_plans/migrations/7.0.1.0/pre-migration.py#L37 and bad query:

[code]

[2016-11-30 14:49] pedrobaeza commented on #685
Can you please make a PR amending this?

[2016-11-30 14:50] pedrobaeza commented on #687
https://github.com/OCA/OpenUpgrade/tree/9.0/openerp/openupgrade/doc/source. We haven't switched to 10.0 version docs, although the branch exists, but we can cherry-pick the commits improving the doc.

[2016-11-30 14:50] #687 closed

[2016-11-30 14:52] dreispt commented on #687
Thanks!

[2016-12-01 03:31] #685 closed

[2016-12-01 17:09] M2tec opened #689 "[8.0] File Attachments do not show in interface"
Impacted versions:
upgrade from v7 to v8

Steps to reproduce:
- do upgrade from v7 to v8
- check if file can be downloaded from product form view, or stock form view

Current behavior:
- file is not available in v8

Expected behavior:
- file is available

To find attachments odoo checks for model name (res_model) and item id (res_id) in ir_attachment table. Because in the new version the model nam

[2016-12-01 18:53] ghost commented on #689
Rather new to this. Just signed CLA, I have a fix and could make a pull request for changes if this is wanted.

[2016-12-03 08:43] E-HO commented on #686
See https://doc.therp.nl/openupgrade/ , no migration for V10.

[2016-12-03 17:11] #686 closed

[2016-12-03 17:12] pedrobaeza commented on #657
It has been backported already, so I close.

[2016-12-03 17:12] #657 closed

[2016-12-03 17:15] pedrobaeza commented on #689
Please make the PR. I'm not sure about the switch from product.template to product.product. Some people will see at product menu, and some other people will look at product variant menu. What about duplicating the attachment record as Salomonian solution? If the attachment is in file store, it won't duplicate the space. I don't know if there's any side effect for making this trick though.

[2016-12-03 17:16] pedrobaeza commented on #673
Why not better to update the mail_followers table pointing to the new model name?

[2016-12-03 17:24] pedrobaeza opened #690 "Translations change v8 > v9"
I have just detected that the comments to find the translation of fields texts have changed.

In version 8, you have following translation comment for the field label (the `string` attribute)
[code]

However, in version 9, this is the equivalent comment for translating the field label:
[code]
Being `field_xml_id` generally composed of:  `field_` + `model_name_with_underscores` + `_` + `field_name`

[2016-12-04 00:28] ovnicraft commented on #637
@mgielissen can you make a PR to fix this ?

[2016-12-09 20:15] StefanRijnhart commented on #690
Currently not handled, I'm afraid. All custom field label translations will be reset by the looks of it.

[2016-12-09 21:59] bigmillz opened #695 "psycopg2.OperationalError: could not connect to server"
Impacted versions:
10.0
Steps to reproduce:
1. Run command `python migrate.py --config=/home/pmiller/Downloads/openerp-server.conf --database=/home/pmiller/Downloads/amzt-odoo-1_2016-12-09_21-26-54.zip --run-migrations=10.0`
Current behavior:
-See below output snippet
Expected behavior:
-Migration of database
Video/Screenshot link (optional):

Impacted versions:
10.0
Steps to reproduce:
1. Run com

[2016-12-09 22:19] pedrobaeza commented on #695
This is something with your own local installation of Postgres, that is not running on port 5432.

[2016-12-09 22:19] #695 closed

[2016-12-11 11:27] StefanM22 opened #698 "Error executing post migration script for module account upgrade 7.0 > 8.0"
Hi,

i need a hint for the error on upgrading from 7.0 to 8.0 with openupgrade.
I tried it several times before and it works fine, but i wont to upgrade my production system i got an error with no hint.

`
2016-12-11 11:08:44,290 24117 INFO ? openerp: OpenERP version 8.0
2016-12-11 11:08:44,290 24117 INFO ? openerp: addons paths: ['/home/stefan/src/openerp-up/data/addons/8.0', u'/home/stefan/src/o

[2016-12-13 12:53] m3asmi opened #701 "error after migrate 8.0 > 9.0"
Impacted versions:
9.0
Steps to reproduce:
migrate from 8.0 -> 9.0
Current behavior:

D\xe9tails de l'erreur :
Le champ `default_section_id` n'existe pas

Contexte de l'erreur :
[code]

[2016-12-13 12:55] pedrobaeza commented on #701
That's any security rule that you have customized that uses field `default_section_id`

[2016-12-13 12:55] #701 closed

[2016-12-13 12:59] m3asmi commented on #701
@pedrobaeza no there is no cosumized uses of that field

[2016-12-13 13:09] pedrobaeza commented on #701
Well, standard migration is working perfectly. I have done one this weekend. Anyway, find the rule with that field and remove it before migrating.

[2016-12-13 14:09] m3asmi commented on #701
@pedrobaeza  the migration been done well
but I get that error when I do --update all on odoo 9.0 !!!

[2016-12-13 14:13] pedrobaeza commented on #701
I have said a security rule, but it's a view the one that contains the non-existing field. Just remove it or uninstall the affected module.

[2016-12-14 10:46] eugen-don commented on #156
For those who end up with the same error - heres the solution:

install the python module openerp-client-lib (1.1.2) with this command:

apt-get install python-pip
pip install openerp-client-lib

[2016-12-16 04:39] StefanM22 commented on #698
After looking at the database there is no field journal_entry_id  in account_bank_statement_line ?

[2016-12-16 05:02] hbrunn commented on #698
you run your migration with `--tests-enable` (probably set in your config file) This causes tests to be run and fail because they presuppose a specifically crafted test database. Disable tests, then you should be fine.

[2016-12-16 05:02] #698 closed

[2016-12-16 10:48] ghost commented on #689
Ok I have done a pull request for the stock part as this is more straightforward. I will look into the duplication part for products when I have a little more time. Thanks for the input

[2016-12-19 10:55] StefanM22 commented on #698
Thank you for that hint.
I use allways the same configuration filem and there ist only
`test_commit = False
test_disable = False
test_enable = False
test_file = False
test_report_directory = False
`
now i try to set it to
test_disable = True

but at my tests before it works.

it gives the same error :(

Is there an Place to disable the test ? and cant find it ?
Stefan

[2016-12-22 20:28] NL66278 opened #707 "Crash in migration of vouchers to payments - I will try to provide fix"
Impacted versions: 8.0 to 9.0

Steps to reproduce:

Run migration with large dataset containing vouchers. Not yet certain about what data causes crash.

Current behavior: Migration crashes

Expected behavior: migration runs without problems

Video/Screenshot link (optional):

2016-12-22 06:55:40,920 7461 INFO odottrtst90_migrated openerp.modules.migration: module account_voucher: Running migration

[2016-12-22 21:10] NL66278 commented on #707
Closing as invalid. I was working on older branch. Issue was solved by commit 4fae0fb7.

[2016-12-22 21:10] #707 closed

[2016-12-26 14:54] inerzaOdoo opened #709 "KeyError: 'project.project'"
Hi,

I just migrated my database from version 8 to 9 and I get the following error when selecting the new database.

  File "/usr/lib/python2.7/site-packages/openerp/modules/loading.py", line 137, in load_module_graph
    init_module_models(cr, package.name, models)
  File "/usr/lib/python2.7/site-packages/openerp/modules/module.py", line 300, in init_module_models
    result = obj._auto_init(cr,

[2016-12-26 15:52] pedrobaeza commented on #709
You should check your migration log to find errors. This is not enough for judging. Anyway, it seems an error from your part in the deployment.

[2016-12-26 15:52] #709 closed

[2016-12-28 09:19] jbeficent opened #716 "when installing account_tax_python, we should also patch the dependency graph to have sale and purchase depend on it"
Impacted versions: v8->v9

Current behavior:

When executing a migration from v8 to v9 I'm getting an error while the compute of the fields of sale.order.line is in progress. See log below. The error is probably due to bad data, but how can I trace the specific record that is wrong?
[code]

[2016-12-28 09:20] JordiBForgeFlow commented on #716
@NL66278 @hbrunn Can you help me on this one?

[2016-12-28 09:31] hbrunn commented on #716
a quick look on the backtrace lets me assume there's a NULL value in some sale_order_line.product_uom_qty, have you checked this?

[2016-12-28 09:35] JordiBForgeFlow commented on #716
yes, I did run SELECT * FROM sale_order_line WHERE product_uom_qty IS NULL, and got 0 results.

[2016-12-28 09:43] hbrunn commented on #716
hmmm. Then the only option for this to happen I see is https://github.com/OCA/OCB/blob/9.0/addons/account/models/account.py#L617 returning nothing. Given the conditions are not exhaustive, this seems possible to happen. Did you check all your taxes if one of them produces `None` here?

[2016-12-28 12:17] JordiBForgeFlow commented on #716
I found that I have some sales order lines that use a tax code with amount_type = 'code'.

This type is not defined in accounting module (https://github.com/OCA/OCB/blob/9.0/addons/account/models/account.py#L518) but in account_tax_python (https://github.com/OCA/OCB/blob/9.0/addons/account_tax_python/account_tax_python.py#L9).

During the pre-migration of account module we're flagging the `account

[2016-12-28 12:22] hbrunn commented on #716
if only somebody thought about this kind of situation and thought up a configuration key that allows us to force dependencies: https://doc.therp.nl/openupgrade/migration_details.html#configuration-options ;-)

[2016-12-28 12:29] JordiBForgeFlow commented on #716
ahhhh. That's great! Using Buildout, can I add the parameter `force_deps` in the buildout.cfg file, in a format such as:
`options.force_deps = {'sale': ['account_tax_python'], 'purchase': ['account_tax_python']}`

[2016-12-28 12:36] JordiBForgeFlow commented on #716
Answer to self:
With buildout, add `openupgrade.force_deps = {'sale': ['account_tax_python'], 'purchase': ['account_tax_python']}` in the buildout.cfg file.

[2016-12-28 12:38] hbrunn commented on #716
nice to hear that helps. I think for correctness, we should inject those dependencies in the dependency graph at the same point where we mark account_tax_python for installation. Should be quite possible, so I'll keep this open for the real fix, this solution is a hack/workaround

[2016-12-28 12:42] hbrunn commented on #673
that's fixed by https://github.com/OCA/openupgradelib/pull/48 in the meantime

[2016-12-28 12:42] #673 closed

[2016-12-28 12:43] JordiBForgeFlow commented on #716
Thanks  @hbrunn. Now checking if this resolves the issue.

[2017-01-06 11:17] kvdb opened #723 "Unable to complete upgrade 8.0 to 9.0"
Ran the migration script (from todays master). It worked through a lot of tables successfully, but then got stuck. Log that contains the error towards the end: http://pastebin.com/Y0nW3edX

I wonder if it has to do with OCA modules I have installed.
Perhaps anyone recognizes the error and can provide a hint.

[2017-01-06 11:19] pedrobaeza commented on #723
The error you have attached is not important, as it's a not null constraint. Put full log or give more details.

[2017-01-08 09:08] kvdb commented on #723
So line 182 is not really a problem? What you saw in the pastebin is the final part of the log. After that, nothing is logged anymore. It takes about 5 to 10 minutes for the migration script to complete (it doesn't provide any output on the console or log during that time, so I can only assume it went fine). When I run odoo 9 with the migrated database, I can login, but get a lot of errors for css

[2017-01-08 09:34] pedrobaeza commented on #723
Have you restored properly the BD copying the filestore?

[2017-01-10 09:00] legalsylvain opened #724 "[8.0] stock migration very slow"
Impacted versions: 8.0

Steps to reproduce:
Using a Database with 2.000.000 stock moves, trying to openupgrade it from 7.0 to 8.0. During script migration, in the [quant generation script](https://github.com/OCA/OpenUpgrade/blob/8.0/addons/stock/migrations/8.0.1.1/post-migration.py#L934), the process is very slow.
10.000 stock move managed in 25 minutes. So, full quants generation will take 5.000

[2017-01-10 09:02] pedrobaeza commented on #724
It was optimized here with reasonable results: https://github.com/OCA/OpenUpgrade/pull/469.

Do you have the last OpenUpgrade version?

[2017-01-10 09:06] legalsylvain commented on #724
Hi @pedrobaeza .

Thanks for your quick answer. Yes I'm using 8.0 HEAD version. The last commit is [this one](https://github.com/OCA/OpenUpgrade/commit/3058fc09c161580f7049a6e3e62522d6e6b0791b) from @jbeficent .

[2017-01-10 09:26] pedrobaeza commented on #724
Well, then he should answer if there's room for more improvement.

[2017-01-10 10:35] legalsylvain commented on #724
@pedrobaeza. could you share migration duration and stock move quantity for some databases you open-upgraded ? I'd like to identify if I have configuration problem, or if it's an OpenUpgrade limitation.

@akretion last customer :
- migration done from 6.1 -> 8.0.
- database with 250.000 stock.move
- global duration : 1,5 day.
- @jbeficent [optimization](https://github.com/OCA/OpenUpgrade/commit/30

[2017-01-10 10:38] pedrobaeza commented on #724
I don't have right now statistics, because I did my 8.0 migrations a long time ago (some even without optimization). Jordi should give you more accurate details.

[2017-01-10 10:45] hbrunn commented on #724
the DB I'm currently working on has ~190k moves, there the stock migration part costs 5 hours. On a somewhat unrelated note, I'm working at the moment on the recomputation of some sale fields in #710, and what I noticed there is that recomputations are a non-linear enterprise. It might be that this piece of code grows quadratic too, that's something you should be able to measure by migrating only

[2017-01-10 10:59] legalsylvain commented on #724
Hi @hbrunn Thanks a lot for your PoV. Is your server configuration very better that the one I described ? or is it something similar.
 ~190k moves in 5 hours is > 10 stock move per second. (ignoring other processes). (My stats is 6 per second). So similar result.
I'll try to work on treating stock move product per product. (still ordered by date). I guess I can win some time because of ORM cache o

[2017-01-10 11:13] hbrunn commented on #724
the specs are worse than your example, it's VPS4 from http://www.cloudvps.com/virtual-private-server/linux-vps - so you're probably on less than 50% throughput for a comparable machine. This lets me guess there's some quadraticness going on here too.
I'd suggest you to extract the relevant code to some script and measure it's performance, that's a lot more effective to look at than the same code w

[2017-01-10 11:24] Hans-0 opened #725 "Migration 8.0 to 9.0 stops after account_bank_statement_line"
Impacted versions:
openupgrade odoo8 to odoo9
Steps to reproduce:
running script migrate.py
Current behavior:
migrate.py script doesn't complete migrationprocess.
For several days now, I try to migrate my odoo8 database to a odoo9 database.
After sometime (15 min) the process stops after running the  account_bank_statement_line table. Witch in my case has  8840 rows affected.
The migration script

[2017-01-10 11:32] pedrobaeza commented on #725
This is because you have a lot of moves. For an speed optimization, see #634 or #663

[2017-01-10 11:32] #725 closed

[2017-01-10 11:39] pedrobaeza opened #726 "[9.0] base: Images are lost"
On a migration from v8 to v9, all images in fields.Binary are lost (example: image field on res.users). This can be due to the change of these fields to attachment mode.

[2017-01-10 11:40] pedrobaeza commented on #726
@hbrunn @NL66278 @jbeficent have you seen this problem?

[2017-01-10 11:56] JordiBForgeFlow commented on #726
@pedrobaeza I just experienced this problem 2 days ago, but did not realize that this was a consequence of the migration. So, it's a valid issue.

[2017-01-10 14:08] legalsylvain commented on #724
@hbrunn. Thanks a lot again. I'll take a look on your gist script.

Another way to reduce duration time could be to use multi processes. (if available). For consistency, I guess that OpenUpgrade should not be run in a multi worker context, but we could imagine, in a specific function (like quants generation), to run quants generation dispatched on many processes.

Do you think it could be interest

[2017-01-10 14:12] pedrobaeza commented on #724
The problem in parallelization is that you need to keep the order in the operations for the same product, so it's not very easy to develop it.

[2017-01-10 14:21] legalsylvain commented on #724
I was thinking, (I'm working on it), in a first optimization, to run quants process, order by product (and prod lot) then date. (for the time being, only this is only by date). Ref : [WIP work](https://github.com/grap/OpenUpgrade/commit/171ebda42687670e2b097c1be44a2baee900b895#diff-c016f55f80a2042f93830629c1f7bfb5R986)
I guess that for a single product / prodlot tuple, generating quants based on o

[2017-01-10 16:24] JordiBForgeFlow commented on #724
@legalsylvain We optimized the search, and for us we improve from more than 5 days to about 1 day, for about 250.000 moves. At the time it was a success for us, but it is clear that it's not the case for you. Also, it's important that the current approach is compatible with perpetual inventory. So no new journal entries should be created. This should be considered in any approach.

[2017-01-11 07:52] sebastienbeau commented on #724
Hi after some discution with Nhomar, he told me that he have done that work for migrating quant using SQL request. Maybe it will be good to have it in OpenUpgrade https://github.com/Vauxoo/sql_migration

[2017-01-11 11:57] legalsylvain opened #729 "[8.0] sales_team error (relation "crm_case_section" does not exist)"
Impacted versions: 8.0 (target upgrade version)

Steps to reproduce:
* install a fresh V7.0 database, -i point_of_sale,purchase. (i guess that less module is sufficient, but not tested)
* upgrade to V8.0

Current behavior:
* During the migration, sales_team (new 8.0 module is installed by [dependencies](https://github.com/OCA/OpenUpgrade/blob/8.0/addons/sales_team/__openerp__.py#L32)).
* sales_tea

[2017-01-11 12:17] pedrobaeza commented on #729
If you're going to make a PR, better to not open 2 things: put the issue report on the PR itself.

[2017-01-11 12:17] #729 closed

[2017-01-12 07:07] franklee628 opened #734 "Upgrade from OpenERP 7.0 to Odoo 8.0"
Tried with python migrate.py --config=/etc/openerp/openerp-server.conf --database=test_data --run-migrations=8.0

Outcome: No user found in configuration

=====================================================================

Tried with sudo python migrate.py --config=/etc/openerp/openerp-server.conf --database=test_data --run-migrations=8.0

Outcome: Copying the database using 'with template'
Fai

[2017-01-12 07:16] franklee628 commented on #734
I've found these line within the migrate.py file:

for parm in ('host', 'port', 'user', 'password'):
    db_parm = 'db_' + parm
    if config.has_option('options', db_parm):
        conn_parms[parm] = config.get('options', db_parm)

    print 'No user found in configuration'
    sys.exit()

Is that means I will have to define a user somewhere in openerp-server.conf?

[2017-01-16 13:18] pedrobaeza commented on #643
Duplicated with #726. Closing this one as the other is more specific.

[2017-01-16 13:18] #643 closed

[2017-01-16 13:18] pedrobaeza commented on #724
Closing this as there's now a PR

[2017-01-16 13:18] #724 closed

[2017-01-16 13:19] pedrobaeza commented on #723
Closing as no response

[2017-01-16 13:19] #723 closed

[2017-01-16 13:19] pedrobaeza commented on #637
No news, so closing.

[2017-01-16 13:19] #637 closed

[2017-01-16 13:19] pedrobaeza commented on #630
Is this still happening?

[2017-01-16 13:20] pedrobaeza commented on #716
Is this still relevant?

[2017-01-16 13:21] pedrobaeza commented on #578
Is this still relevant?

[2017-01-16 13:28] hbrunn commented on #716
yes

[2017-01-16 13:29] pedrobaeza commented on #716
OK, waiting for a possible PR for cleaning up issues :wink:

[2017-01-16 16:33] legalsylvain commented on #637
This has been fixed by #730

[2017-01-17 06:42] JordiBForgeFlow commented on #578
Yes

El 16 ene. 2017 6:21 a. m., "Pedro M. Baeza" <notifications@github.com>
escribió:

[2017-01-17 07:48] pedrobaeza commented on #578
OK, Isn't better to convert them to tags?

[2017-01-19 17:18] jbeficent opened #739 "[9.0][product] product.supplierinfo not correctly migrated"
Impacted versions: 9.0

Steps to reproduce:
Migrate a database that contains supplier pricelists in v8

Current behavior:
Cannot access to supplier pricelists in v9. The model in v9 to maintain supplier pricelists is the product.supplierinfo

Expected behavior:
There needs to be a conversion so that the supplier pricelists are converted to product.supplierinfo

Video/Screenshot link (optional):

[2017-01-19 17:19] JordiBForgeFlow commented on #739
@NL66278 @hbrunn Do you think you could help me on this?

[2017-01-20 01:32] hbrunn commented on #739
I would hope so. You've come up often with important corner cases lately, do you see any possibility to share your real world database in an anonymized fashion? Note that the `anonymization` addon is not up to privacy requirements.

[2017-01-20 10:42] pedrobaeza opened #741 "[9.0] Migration of the CRM phonecalls sends emails"
When converting crm.phonecall objects to chatter messages, followers that are subscribed to this message type are notified by mail. We have to disable this notification or create it by SQL.

Who did this script? @jbeficent? @hbrunn?

[2017-01-20 11:53] jholze commented on #400
@pedrobaeza i have good news, we got a project to migrate from odoo 7 to 10 and we will start asap to support the openupgrade with our capacity. I hope we can help to finish some of the migrations scripts which are still open.

[2017-01-20 12:00] pedrobaeza commented on #400
Cool, Jens!

First task is to compare your installed modules in the v7 with the script coverage and find the gaps for migrating on each version.

Then, you can inform here which modules are you going to add scripts for, and we can assign you.

When the PRs are done, I can review them.

[2017-01-20 12:02] jholze commented on #400
Cool. Our devs @rruebner @ateijelo will start soon with this. Just a question, is there a similar tickets also vor v10 ?

[2017-01-20 12:07] pedrobaeza commented on #400
Not for now, but the summary is that everything is pending :disappointed:

I'm talking also with @jbeficent, that is interested in join efforts. He is going to send us soon an email for coordinating the effort.

[2017-01-20 13:52] jholze commented on #400
Ok thanks. Another good news are, that we are also on a second very very big project where we also  in discussion with the customer to migrate this as well. This is 8 to 10. so we should create a checklist for the 9 to 10 migration soon.

[2017-01-20 19:48] jbeficent opened #742 "[9.0][account_check_printing] Journals with flag 'Allow check writing' should default outbound payment method 'check'"
Impacted versions: 9.0

Steps to reproduce:
8.0 DB with module 'account_check_writing' installed.
Define a journal "Check Writing" with flag 'Allow check writing' activated.

Current behavior:
The journal cannot be used in supplier payments using checks, in v9

Expected behavior:
The method 'Check' should be activated in the journal:

The journal should appear in the list of of allowed payment met

[2017-01-20 19:59] jbeficent opened #743 "[9.0][account_check_printing] Journals with flag 'Use preprinted check' should migrate to 'check_manual_sequencing'"
Impacted versions: 9.0

Steps to reproduce:
Create a database in 8.0 with module 'account_check_writing'
Create a journal "Checks" with flag 'Use preprinted check' set.

Current behavior:
When the DB is migrated to 9, this flag does not exist, and Odoo assumes that the checks should be printed generating new check numbers.

Expected behavior:
If 'Use preprinted check' is set, it is assumed that th

[2017-01-20 20:00] #743 closed

[2017-01-20 21:42] jbeficent opened #744 "[9.0][account_voucher] No link between payments and invoices in migrated account.payment records"
Impacted versions: 9.0

Steps to reproduce:
In 8.0, with module 'account_voucher' installed, create a payment for an invoice using a voucher.

Current behavior:
When the database is migrated the field invoice_ids of account.payment is empty

Expected behavior:
The migration script of 'account_voucher' should include a routine to migrate the table `account_invoice_payment_rel`

[2017-01-21 12:01] pedrobaeza commented on #726
FYI I'm working all this morning in this. Almost completed...

[2017-01-21 13:44] pedrobaeza commented on #726
The fix is a two step solution:

* openupgradelib method: https://github.com/OCA/openupgradelib/pull/66
* OpenUpgrade patch: https://github.com/OCA/OpenUpgrade/pull/745

[2017-01-22 17:28] jbeficent opened #746 "Amount due is 0 for open invoices"
Impacted versions: 9.0

Steps to reproduce:
Migration of account module with https://github.com/OCA/OpenUpgrade/pull/663

Current behavior:
Open invoices, not paid, have amount due = 0

See:
![image](https://cloud.githubusercontent.com/assets/7683926/22184367/64a921ca-e08d-11e6-8ce5-6b128ff66f8d.png)

![image](https://cloud.githubusercontent.com/assets/7683926/22184370/73688dea-e08d-11e6-8ae1-19d7

[2017-01-22 17:29] JordiBForgeFlow commented on #746
@NL66278 Can you look into it?

[2017-01-22 18:27] JordiBForgeFlow commented on #746
May be a problem of pre_computation of the field `amount_residual`. See https://github.com/OCA/OpenUpgrade/pull/663/files#r97229620

Or the recomputation of field `residual` in the invoice. In my other PR I had to force the recomputation in all invoices to make it work https://github.com/OCA/OpenUpgrade/pull/634/files#diff-37a531f02f2e57d4fa1bc4bfcb55404aR595

[2017-01-23 02:00] JordiBForgeFlow commented on #739
Fixed in https://github.com/OCA/OpenUpgrade/pull/747

[2017-01-23 02:00] #739 closed

[2017-01-23 08:46] yajo commented on #726
Then is this closed now?

[2017-01-23 08:51] pedrobaeza commented on #726
Yes!

[2017-01-23 08:51] #726 closed

[2017-01-24 12:16] rruebner commented on #400
Hi all,

@pedrobaeza, after checking our modules I have a few questions to some of them.

We use some modules which were removed in odoo v9. For some modules we found alternatives (OCA, EE, etc.) but there are some modules without alternatives. What should we do with them? Just ignore?
* account_analytic_analysis
* account_chart
* edi (I know that the edi handling was done in each module separatel

[2017-01-24 12:37] JordiBForgeFlow commented on #400
@rruebner what do you mean by 'how is the migration'? Can you clarify?

[2017-01-24 13:05] pedrobaeza commented on #400
This is already handled on contract module for OCA/contract. Module renamings are handled in https://github.com/OCA/OpenUpgrade/blob/9.0/openerp/addons/openupgrade_records/lib/apriori.py, and once renamed at the beginning of the migration process, you can add pre and post migration script if your target module, like it's done on https://github.com/OCA/contract/blob/9.0/contract/migrations/9.0.1.0.

[2017-01-24 14:23] legalsylvain commented on #734
Hi. There is no difference between odoo and openupgrade.
you have to run openupgrade with the same user as you run odoo.
So your problem is not related to openupgrade.

I don't know your setting, but if you have some odoo user dedicated, you could use something like
sudo su odoo -c "python migrate.py --config=...."

kind regards.

[2017-01-24 14:23] #734 closed

[2017-01-24 14:26] rruebner commented on #400
@pedrobaeza thanks a lot for the information.

@jbeficent We just want to know how far you are with the migration scripts for account_voucher and hr_timesheet. Because we need to migrate these modules too in our project. So if you are not done with the migration scripts maybe we can participate to finish the migration scripts.

[2017-01-24 14:48] JordiBForgeFlow commented on #400
@rruebner we're working on both.

[2017-01-24 14:58] legalsylvain commented on #485
I'm interested to work on it. How do you imagine this log ? What I can imagine is the following :
at the beginning of OpenUpgrade, run a routine that analyse each installed module, and display :
- name of the current module,
- current state and current version
- exist in the next version : Y / N
- renamed in the next version : N / the name of the new module. (based on [this file](https://github.co

[2017-01-31 11:41] NL66278 opened #750 "Migration to 9.0 can fail when project pre_migration adds is_timesheet column"
Impacted versions: 9.0

Steps to reproduce: not clear what exact combination of modules installed causes this. At least project

Current behavior: Pre migration of project tries to add is_timesheet column to account_analytic_line. In some cases this column already exists, causing a CRITICAL message and therefore a crash of the migration

Expected behavior: Succesfull migration, wether or not is_ti

[2017-01-31 11:45] pedrobaeza commented on #750
The column is created when project_timesheet is not installed, which adds that column: https://github.com/OCA/OpenUpgrade/blob/9.0/addons/project/migrations/9.0.1.1/pre-migration.py#L81.

You should have another module that adds the column by its own. You can put a PR adding a check if the column exists for not creating it again.

[2017-01-31 15:05] ArthurBorsboom opened #751 "Migrate Odoo v9 to v10 - enhancement"
Is there an automated upgrade script available or in a Work in Progress for Odoo v9 to v10?

[2017-01-31 15:20] pedrobaeza commented on #751
No, there isn't any progress on v10 migration yet

[2017-01-31 15:20] #751 closed

[2017-01-31 15:22] ArthurBorsboom commented on #751
That is shame. Any future plans?

[2017-01-31 15:28] pedrobaeza commented on #751
Well, as soon as someone start contributing or any other open initiative, but nothing defined.

[2017-01-31 15:29] ArthurBorsboom commented on #751
Got it. Thanks!

[2017-02-09 20:10] JordiBForgeFlow commented on #744
@NL66278 I need your help on this one.

[2017-02-09 22:15] NL66278 commented on #744
@jbeficent I hope to be able to do this next week.

[2017-02-10 10:53] pedrobaeza opened #757 "Migration scripts for v10"
Issue for gathering all the required things for migrating to v10.

For this version, OCA has funded the development of the migration scripts that are installed in their Odoo instance. They are marked as `(OCA project)` for being recognized and expect them to be done in the near future if not yet done.

Odoo modules
-----------

- [x] account (OCA project) - By @NL66278 - #843
- [x] account_account

[2017-02-10 14:27] jholze commented on #757
👍

[2017-02-12 01:31] haroldtamo opened #758 "8"

[2017-02-13 12:31] hbrunn opened #759 "deleting moves of special periods"
In https://github.com/OCA/OpenUpgrade/blob/9.0/addons/account/migrations/9.0.1.1/pre-migration.py#L86, we delete all moves and lines of special periods which are not in the first special period. I think this is wrong, as we lose all financial corrections made when closing a fiscal year.

@jbeficent could you elaborate your reasoning for deleting the other move lines and do you agree we rather need

[2017-02-13 21:47] BrayhanJC commented on #434
Hola @pedrobaeza ,, quisiera saber si estoy haciendo algo mal con la migración que estoy haciendo en estos momentos, al momento de resturar la base de datos que se me genera gracias a este fragmento de codigo y haciendo uso del script de migración. El cual es el siguiente:

wget https://raw.githubusercontent.com/OCA/OpenUpgrade/HEAD/scripts/migrate.py
python migrate.py --config=/etc/odoo-server.co

[2017-02-14 05:15] BrayhanJC opened #760 "error al restaurar"
Hola  me sale es este error,
if not self._execute(activity, stack):
File "C:\Program Files (x86)\Odoo 9.0-20170131\server\openerp\workflow\workitem.py", line 144, in _execute
returned_action = self.wkf_expr_execute(activity)
File "C:\Program Files (x86)\Odoo 9.0-20170131\server\openerp\workflow\workitem.py", line 295, in wkf_expr_execute
return self.wkf_expr_eval_expr(activity['action'])
File "C:\

[2017-02-14 08:22] pedrobaeza commented on #760
Escribe en inglés, por favor.

[2017-02-14 08:22] #760 closed

[2017-02-14 15:37] JordiBForgeFlow commented on #759
@hbrunn IMHP the corrections made when closing a fiscal year should be posted must be posted in a normal period, not in the opening period. The opening period is supposed to be used only to handle the automated opening entries.

In my use case I have a separate script that moves the journals that are not created by automated opening entries to the next valid period, as you suggested.

But the open

[2017-02-14 15:43] hbrunn commented on #759
thanks for the explanation. I've not been specific enough, indeed I meant only the manually created ones. Can we integrate your script somehow into account's migration scripts? Probably you use some trick to differentiate the manually created entries from the automatic ones (I'm curious how you do this), then we should do the same in the migration. As there's nothing in the former versions that fo

[2017-02-14 16:09] JordiBForgeFlow commented on #759
`
def move_normal_moves_from_special_periods(conn, cr):
    """The account migration script will delete all moves that are in the
    special periods. We need to remove any moves that are not created as
    opening balances for the opening period, so that they are not deleted."""

    print("""Selecting all the account moves that are in special periods,
    but not in a centralized journal.""")

[2017-02-14 16:26] hbrunn commented on #759
hmmm, your codes are database specific of course. I'll try to find some more general heuristics based on the journals used

[2017-02-14 16:56] JordiBForgeFlow commented on #759
Perhaps selecting journals that do not have the 'centralization' set?

[2017-02-14 16:57] camilozuluaga opened #761 "Migration odoo 8 to 9"
Hello friends, good day to all and in advance thanks for the attention paid.

What happens is the following I am doing the migration with the commands that are followed in the official guide of "open ugrade", the migration at data level is working correctly since the database is populated with such data, but at At the moment of installing modules I get the following xml error.

"2017-02-14 15:13:4

[2017-02-14 17:48] legalsylvain commented on #761
Could you try to make an update all (with a no openupgrade version = Odoo or OCB) before installing new module ? i guess it should solve your problem.

[2017-02-14 18:13] NL66278 commented on #744
@jbeficent Should be working with this PR: https://github.com/OCA/OpenUpgrade/pull/762

[2017-02-14 18:19] JordiBForgeFlow commented on #744
Thanks!! Will test right now

On Feb 14, 2017 1:13 PM, "Ronald Portier" <notifications@github.com> wrote:

[2017-02-15 10:38] jholze commented on #757
@pedrobaeza how can we make progress here ? We are nearly finished with the migration of a project to 8, than we will check 9, so would be cool if we can check together how we can speed up the progress. Maybe a hangout guys ? We can support migration to 10 a lot i think.

[2017-02-15 12:35] pedrobaeza commented on #757
9.0 Odoo modules should be dump here with the check for indicating later which ones are already migrated. I normally exclude l10n_xx, as they don't need migration.

[2017-02-15 21:44] camilozuluaga opened #763 "Training migration odoo 8 to odoo 9"
Hello friends, good morning, I would like to know who knows about the topic to do the migration of odoo v8 to v9, is to hire a consultant group of developers who need someone with experience to do so many thanks. If you are interested leave me your data. Or something we can contact.

[2017-02-16 12:56] camilozuluaga commented on #761
Friend you can give me a training to do this, the training will be for and is to help us with the migration.

[2017-02-16 13:10] ldibarbora commented on #763
Hello Juan , i'm a consultant in a software company with focus in Odoo
development, also we are Odoo partners . We have experience in migration
projects from OpenERP 7 to Odoo 9.
  If you are interested contact our sale and technical representative:
hernanbroun@elepeservicios.com.ar.

Regards

Ing. Leonardo Dibarbora
elepe servicios srlwww.elepeservicios.com.ar
Viamonte 638 2do. Piso Of. B
2000 -

[2017-02-17 00:55] jleaders commented on #757
If you don't mind me asking, what's the estimated time when this would would be ready?

[2017-02-17 07:36] pedrobaeza commented on #757
No plans for now.

[2017-02-17 16:44] jbeficent opened #765 "[9.0] operations not created for pickings where qty has been reserved but not transferred"
Impacted versions: 9.0

Steps to reproduce:
In 8.0
* Install module 'stock'
* Create a delivery order, and ensure availability to transfer, but do not transfer yet

![image](https://cloud.githubusercontent.com/assets/7683926/23074183/5672ef36-f538-11e6-9e1c-9c0ef1de5f7e.png)
* Migrate to v9

Current behavior:
After the migration the  operations are not created:
![image](https://cloud.githubusercon

[2017-02-18 12:48] #763 closed

[2017-02-18 12:49] #761 closed

[2017-02-19 07:39] #758 closed

[2017-02-22 15:55] ateijelo commented on #400
Hi, @jbeficent . How is progress coming along on account_voucher ? How can I help you?

[2017-02-22 15:57] hbrunn commented on #759
I wanted to check back with the accountant of the customer, and for them, this works. Done in #768

[2017-02-22 16:43] #759 closed

[2017-02-22 21:50] JordiBForgeFlow commented on #400
Should be done, both voucher and hr_timesheet.

[2017-02-24 15:37] benjiscan opened #770 "Upgrade 8 to 9 on debian"
Dear,
I get a python error using migrate.py.
It looks like a problem with the database access, does anyone have a suggestion ?

Thank you :)

# python migrate.py --config=/etc/odoo/openerp-server.conf --database=mydb--run-migrations=9.0
From git://github.com/OpenUpgrade/OpenUpgrade
 * branch            9.0        -> FETCH_HEAD
Already up-to-date.
From https://github.com/OCA/openupgradelib
 * branc

[2017-02-24 16:32] brivalland commented on #770
Yes, that was a problem with db connection.
I replace
db_port = false
to
db_port = 5432
in /etc/odoo/openerp-server.conf

And now a new problem :

Copying the database using 'with template'
Failed, fallback on creating empty database + loading a dump
pg_restore: [archiver (db)] Error while PROCESSING TOC:
pg_restore: [archiver (db)] Error from TOC entry 10274; 0 0 COMMENT EXTENSION plpgsql
pg_rest

[2017-02-28 03:28] ateijelo commented on #400
Thanks @jbeficent . I still offer my help if it's needed.
@hbrunn, you said `analytic` is done "tentatively". What do you mean?
I could assist in testing or improving the migration.

[2017-03-01 08:38] hbrunn commented on #400
back then I wrote those scripts in a rush, and as soon as it was good enough for me, I released it with the marker that there might be something else to do for other databases. But now after a couple of migrations I think we'd have found problems, so you can make a PR to change this to just done if it also works for you

[2017-03-01 16:00] charle-s opened #771 "Error in a CRM request"
Hi,

First, I am very impressed in your projet. Thanks ! 👍

However i got a probleme durindg the CRM migration from 8 to 9 :
In a file "addons/crm/migrations/9.0.1.0/pre-migration.py" on line 92, the request "ALTER TABLE IF EXISTS crm_lead_lost_reason RENAME TO crm_los[...]" looks wrong. I think that is note possible to associate "IF EXISTS" with "RENAME TO".
Am I right or not ?

Thanks in advance

[2017-03-01 16:08] hbrunn commented on #771
this was introduced with postgres 9.2: https://www.postgresql.org/docs/9.2/static/sql-altertable.html
And you really don't want to run an older postgres, there's so much improvements that I don't think we should make an effort to support older versions.
I'll keep this issue open to ask @OCA/openupgrade-maintainers about their opinion which is the least version we should support

[2017-03-01 16:15] charle-s commented on #771
Thanks for you reactivity.
I didn't ask you to do an effort to support older versions of postgres, don't worry.
Have a good day

[2017-03-03 08:38] d4mer opened #773 "Error on upgrade from 8 to 9"
Hi there,

I am getting the following error when trying to migrate. I searched all over google and have not had any success finding and answer. I also don't have a log file for some reason. It doesn't seem to be written out.

Current behaviour:

Copying the database using 'with template'
running migration for 9.0
Traceback (most recent call last):
  File "/var/tmp/openupgrade/9.0/server/openerp-se

[2017-03-03 09:38] JordiBForgeFlow commented on #773
Please do:
sudo pip install openupgradelib git+
https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib

On Fri, Mar 3, 2017 at 9:38 AM, d4mer <notifications@github.com> wrote:

--
Jordi Ballester Alomar
CEO & Founder | Eficent
(+34) 629530707 | jordi.ballester@eficent.com | http://www.eficent.com
Twitter: https://twitter.com/jbeficent_erp | Linkedin:
https://www.linkedin.com/in/jordib

[2017-03-03 09:49] d4mer commented on #773
Thanks of the fast reply.

When I run that I get:

and then I run just,sudo pip install openupgradelib and get:

[2017-03-03 09:51] JordiBForgeFlow commented on #773
Try

sudo pip install --upgrade openupgradelib git+
https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib

On Fri, Mar 3, 2017 at 10:49 AM, d4mer <notifications@github.com> wrote:

--
Jordi Ballester Alomar
CEO & Founder | Eficent
(+34) 629530707 | jordi.ballester@eficent.com | http://www.eficent.com
Twitter: https://twitter.com/jbeficent_erp | Linkedin:
https://www.linkedin.com/in/j

[2017-03-03 09:56] d4mer commented on #773
Same response:

[2017-03-03 16:28] charle-s commented on #771
Hi,
i got the version 9.4 of Postgres and it works better. But i have an other problem :
IntegrityError: insert or update on table "res_country" violates foreign key constraint "res_country_currency_id_fkey"
DETAIL:  Key (currency_id)=(1) is not present in table "res_currency".

Do you know how i can resolv it ? I search on forum but i didn't find something

Thanks in advance

[2017-03-07 11:37] charle-s commented on #771
Hi,
Someone know a solution for my problem ?
Thanks in advance

[2017-03-07 13:00] mlaitinen commented on #400
I just compared branches `8.0` and `9.0`. `auth_ldap` doesn't have any code changes.

Also, `rating`, `rating_project` and `rating_project_issue` don't exist in Odoo 8.

IMO all of these should be marked as "Nothing to do".

[2017-03-07 13:32] hbrunn commented on #771
you should post the full backtrace from the log. otherwise, it's annoying guesswork to try to help you in which case most people including me prefer to use their time in a more rewarding manner.
that said, usually, this kind of error points to some record expected but not available because it was deleted manually. if that's the case, running the original 8.0 server with parameter --update=all will

[2017-03-07 17:00] Martronic-SA commented on #400
@pedrobaeza

I don't see a real link between hr_timesheet_invoice and contract. Contracts are made to produce recurring invoices and hr_timesheet_invoice is supposed to make invoices from account analytic lines (tasks and material to invoice).

[2017-03-08 12:14] StefanRijnhart commented on #400
@mlaitinen thank you for checking these modules. We mark modules 'Nothing to do' by filing a pull request. Will you do the honours?

[2017-03-08 15:29] mgielissen opened #774 "Access Error when sending message to other Odoo user (8 -> 9)"
After upgrading from 8 to 9 this error pops up when sending a message to another Odoo user with the chatbox.

Steps to reproduce:

- Choose New Message on topmenu
- Type a letter in To: field
- Click on a name

[code]

[2017-03-09 07:54] Martronic-SA commented on #400
This module is also merged with contract main functionality in the contract migration: https://github.com/OCA/contract/blob/191d690d9669a6a33f35bdc83ef72f0a2940f61c/contract/migrations/9.0.1.0.0/pre-migration.py#L17

Ok if I understand well, the hr_timesheet (hr.analytic.timesheet model) has been removed in profit of pure analytic line. Why not as the hr.analytic.timesheet was "just" a renamed ana

[2017-03-09 21:05] Dager7 opened #775 "RE: Using migration script to migrate from odoo 8 to 9"
When i try to run the script i keep on getting the help menu. I assume i am doing it the wrong way can someone please assist
//code executed
python migrate.py -CONFIG=[/opt/openerp/odoo/openerpserver] -DATABASE=[zxcorp] -RUN-MIGRATIONS=[8.0,9.0]

//output
Usage: migrate.py.1 [options]
Migrate script for the impatient or lazy. Makes a copy of your database,
downloads the files necessary to migrate

[2017-03-09 22:39] #775 closed

[2017-03-10 12:44] mlaitinen commented on #400
@StefanRijnhart I had a hunch this was the wrong way to do it :) Thanks for leading me to the right direction.

I just created PR #776.

[2017-03-12 16:13] quangvnm commented on #750
Hello,
We had the same problem while migrating to 9.0. By turning on Postgres's statetment log, we found that at one moment, the followings queries are executed:
[code]
and at the end (where exception occured):
[code]

By searching for the comment "Is a Timesheet", we found out that the first statement come from `hr_timesheet` module, in `hr_timesheet\hr_timesheet.py`:
[code]
We supposed that this

[2017-03-16 20:24] Dager7 opened #778 "after restoring database that was migrated from version 8 to 9 the web login paged had an error"
Impacted versions: 9.0

Steps to reproduce:
 1. use migration script to migrate fro version 8 of odoo to version 9
 2. dump the migrated database using this code
      pg_dump --no-owner --format=custom DBNAME > newdbname.dump
 3. restore db.dump file on odoo 9
Current behavior:
unable to login
Expected behavior:
the web login should be operational
Video/Screenshot link (optional):
![zxcorp login

[2017-03-17 01:44] pedrobaeza commented on #773
You have to include --upgrade switch. As this is not a problem of OpenUpgrade, but knowledge about pip tool itself, I close.

[2017-03-17 01:44] #773 closed

[2017-03-20 19:52] Yenthe666 commented on #132
Thanks @buxx this solved my issue. 👍

[2017-03-22 08:24] cewolf2002 opened #781 "[9.0] Partner, Product, HR_Employee images was lost"
Hi, all.
I installed latest openupgrade and openupgradelib.
After migrating our database from 8.0 to 9.0.
I noticed Partner, Product, HR_Employee images was lost.

This pull request should resolved this issue.
https://github.com/OCA/OpenUpgrade/pull/745/files

But I checked
column image, image_medium, image_small was not found in Product_Template , hr_employee, res_partner

How should I solve this

[2017-03-22 08:29] pedrobaeza commented on #781
This is already solved, so you shouldn't have latest code.

[2017-03-22 08:29] #781 closed

[2017-03-25 19:12] jbeficent opened #783 "[9.0][stock_account] property_cost_method and property_valuation to be removed for product template in ir.property"
Pending to describe in more detail

[2017-03-30 10:37] fred0716 commented on #132
I have the same output - No user found in configuration , when excute python migrate.py.
I had tried the root and odoo user account to run the script. All have the same output.
How to fix that?

[2017-03-30 10:43] pedrobaeza commented on #132
Read the explanation above.

[2017-03-30 10:48] fred0716 commented on #132
Do you mean I should run linux command like following ?

http_proxy=http://192.168.1.64:3128 https_proxy=https://192.168.1.64:3128 python migrate.py --config=/etc/odoo-server.conf --database=Mobiletalk --run-migrations=7.0,8.0

[2017-03-30 10:53] pedrobaeza commented on #132
Try all the proposed solutions. Anyway, the problem is in your side, nothing to do with OpenUpgrade itself.

[2017-03-30 10:55] fred0716 commented on #132
Fixed. I typed the wrong configuration file name.
Thanks.

[2017-03-31 21:35] Dager7 opened #787 "CAN SOMEONE PLEASE PROVIDE A CLEAR EXPLANATION"
I want to migrate from odoo 8 to odoo 9
Do i just run the migrate.py script? Because that didn't seem to work although i did not receive any errors.

After running migrate.py i made a dump of the _migrated database then tried to restore on odoo 9
PLEASE HELP.  -_____-
![restore_error](https://cloud.githubusercontent.com/assets/26226807/24570226/49006bd0-1662-11e7-9918-33740a70238f.png)

[2017-04-01 10:06] pedrobaeza commented on #787
Sorry, but this is for notifying issues, not to ask for help. See the documentation (https://doc.therp.nl/openupgrade/) or experiment by yourself with enough Odoo knowledge.

[2017-04-01 10:06] #787 closed

[2017-04-11 18:20] Jerther opened #791 "Missing "Exchange Rate Journal" (8 -> 9)"
**Impacted versions**:
9.0

**Steps to reproduce**:
Migrate 8.0 database to 9.0 using this command
`python migrate.py --config=/home/jerther/code/openerp-server.conf --database=backup_2017_04_10 --run-migrations=9.0`

**Current behavior**:
After almost 4 hours, stops with error (see below)

**Expected behavior**:
Upgrade finishes without any error.

**Technical details**:
[code]
It appears the mig

[2017-04-11 19:29] Jerther commented on #791
If I uncheck "Allow multiple currencies" in accounting settings, the migration goes all the way. Should I disable this feature before the upgrade and then re-enable it after?

(btw 4 hours was because I ran the upgrade on a remote database. It's 20 minutes when doing it local.)

[2017-04-14 10:29] StefanRijnhart commented on #791
The real problem here of course is that you do not want the migration to create a new accounting entry.

I can't really explain how unchecking the multi currency option avoids the problem, because it only makes the currency fields visible on the various forms. But if it does avoid the problem, could you find out which move causes the problem, and then run the migration with the multicurrency optio

[2017-04-14 19:39] #326 closed

[2017-04-15 16:22] pedrobaeza commented on #757
Odoo addons list for tracking migration scripts has been included.

[2017-04-15 17:07] #770 closed

[2017-04-15 17:55] pedrobaeza commented on #757
Default branch of the project changed to 10.0.

[2017-04-20 19:52] Jerther commented on #791
We've ended up buying Odoo 10 Enterprise and we're using their upgrade system. I'm so sorry. I still plan on investing the problem though, just for the sake of it. Obviously my priorities have shifted, so it might take a little while before I retry the v9 migration...

[2017-04-24 12:04] pedrobaeza commented on #774
This is fixed here: https://github.com/OCA/OpenUpgrade/pull/797

[2017-04-24 12:04] #774 closed

[2017-04-24 12:28] mgielissen commented on #774
Thanks, To fix a already migrated database:

Remove (double entry) "Mail.group: access only public and joined groups" under Settings/Record Rules

[2017-04-24 12:44] manohar1231 commented on #247
Iam getting ValueError: Invalid field 'parent_id.user_id' in leaf "<osv.ExtendedLeaf: ('parent_id.user_id', '=', 11) on project_project (ctx: )>". please help me out of this Issue as Iam new to ERP and Python code.

thanks in advance
Manohar

[2017-04-24 12:45] pedrobaeza commented on #247
Remove the context that contains that expression on your action window

[2017-04-24 12:57] manohar1231 commented on #247
Thanks for responding Mr pedrobaeza, but there is no expression in my context field it is blank. can u eloborate the solution?

[2017-04-24 14:22] pedrobaeza commented on #247
Well, the error is that, so you should dig a bit more then.

[2017-04-25 09:22] igallart commented on #400
Migrate module note fail, the field group_note_fancy not is present in odoo 9.

[2017-04-25 09:24] pedrobaeza commented on #400
That's not generally a problem that a column dissapears.

[2017-04-25 10:33] manohar1231 commented on #247
I have an Error saying Error 405 Not Allowed - nginx/1.10.1 when Iam trying to submit post form data in ubuntu 16.10, please someone help me out

[2017-05-08 08:22] jbeficent opened #806 "[9.0] [account] Migration of taxes in account move lines"
The migration scripts currently do not consider the migration of the taxes. I had to to a post migration fix for a customer, but still needs to be adjusted in the migration script.

[2017-05-08 15:23] pedrobaeza opened #807 "Published documentation not correct"
If you go to https://doc.therp.nl/openupgrade/modules80-90.html, there isn't any list. This should be due to an incorrect linking of all pages.

[2017-05-10 17:05] bwrsandman opened #812 "Issues migrating hr_evaluation 7.0->8.0"
# Description
Duplicate of #214

# Impacted versions
7.0 -> 8.0

# Steps to reproduce
* Install `hr_evaluation` on a vanilla 7.0 database
* In Human Resources Create an Interview Request only filling `survey_id`

Issue is not present with only survey module installed

# Current behavior

Upgrade fails with:
[code]

# Expected behavior

Migration script should have created `request_id` in the same

[2017-05-10 19:48] bwrsandman commented on #812
Same can be seen with `hr_applicant`

[2017-05-10 21:54] pedrobaeza commented on #812
Hey, Sandy!! Have you come back to the Odoo old times?

[2017-05-10 21:57] hbrunn commented on #812
wow, welcome back!

[2017-05-10 22:02] hbrunn commented on #812
and the answer is simple: Nobody ever wrote a migrations script for this, cf https://github.com/OCA/OpenUpgrade/blame/8.0/openerp/openupgrade/doc/source/modules70-80.rst#L155, https://github.com/OCA/OpenUpgrade/tree/8.0/addons/hr_evaluation/migrations/8.0.0.1

[2017-05-12 20:20] bwrsandman commented on #812
Hey guys! No I'm not back to Odoo dev. My company was on 7.0 and we decided to update to 9.0.

As for the migration scripts. We managed to upgrade with #813 and #814.

[2017-05-13 18:22] bigmillz opened #818 "Possibly the dumbest question ever - order of running migration/restoring db"
Impacted versions: 10.0

Steps to reproduce:
1. Setup Openupgrade per instructions
2. Run migrate.py script
3.???

Hi everyone - I'm stuck on the most basic thing ever. Do I restore my 9.0 db into Odoo 10.0 and then run migrate.py on it, or do I run migrate.py on the dump file and then restore into Odoo?

Because I tried running migrate.py on the .zip (and .sql) files, and it won't take them under

[2017-05-13 23:26] pepetreshere commented on #400
Hello everybody.

At Trescloud we have started a migration project, we need to get with a set of modules up to v10.

I understand we must first ensure everything is migrable to v9, so would somebody please help me clarify if the following modules are ready to be migrated to v9?

- procurement_jit_stock -- Which is supossed to have been merged into procurement_jit since v9
- stock_landed_costs
- ba

[2017-05-14 01:07] pepetreshere commented on #757
Count me up to help in this project!, at Trescloud we have started a migration project up to v10.

I am trying to find out which modules are yet to be migrated, so that we can start collaborating on some of them to get our project done.

But the file [odoo/openupgrade/doc/source/modules90-100.rst](https://github.com/OCA/OpenUpgrade/blob/10.0/odoo/openupgrade/doc/source/modules90-100.rst) doesn't h

[2017-05-14 08:18] hbrunn commented on #400
it's not clear from [the documentation](https://github.com/OCA/OpenUpgrade/blob/9.0/openerp/openupgrade/doc/source/modules80-90.rst) that `email_template` has been ported because this functionality is provided by the `mail` template by now. The `base` module is ported, that's implicit as nothing works without this. Some other modules just lack an entry in the list, just check the `migrations/$vers

[2017-05-14 13:13] pedrobaeza commented on #757
@pepetreshere, here you have the ToDo list. What more do you need?

[2017-05-14 14:22] hbrunn commented on #818
0. read the [documentation](https://doc.therp.nl/openupgrade/) which is pointed to at several places, try things, and ask questions with a description of what you tried, what you expected and what the error messages are.
But from the way you phrase this I think you should hire somebody.

[2017-05-14 14:22] #818 closed

[2017-05-14 14:32] hbrunn commented on #757
the todo list doesn't tell the full story as we know currently that @NL66278 works on `account` and @jbeficent on `product` if I'm not mistaken. And of course we shouldn't frustrate new contributors with duplicate efforts. @lfreeke could you update the list in this issue please?

@pepetreshere if you're new to the game, welcome! I wrote some things in the previous issue you asked about, if you wan

[2017-05-14 14:44] hbrunn commented on #757
PS: The updated doc script doesn't run currently because of https://github.com/OCA/OpenUpgrade/pull/816, if anyone wants to do the honors...

[2017-05-15 05:08] pepetreshere commented on #400
Thanks @hbrunn for your quick reply. I am trying to start learning and working on this project.

I most likely will support the migration to version 10 as it seems that all the modules we used in version 8 are already migrated to version 9 :) (module list might need update however). I have will be doing tests during this week however and I will come back then for picking a module for migration.

[2017-05-15 05:26] pepetreshere commented on #757
Thanks for your clarification guys, I will keep reviewing the documentation and testing the migration from v8 to v9.

[2017-05-15 16:14] lfreeke commented on #757
@hbrunn I'm not a contributor so I cannot update the list. @pedrobaeza will update the list as I discussed this with him today.

[2017-05-15 16:15] pedrobaeza commented on #757
We have also talked about marking all the modules that are going to be migrated inside OCA project, so other contributors can focus on doing the rest. I'm with that task right now.

[2017-05-16 15:45] lord-enzo commented on #502
I can't make it work... `bin/buildout` gives me the following error

[code]
[...]
`CalledProcessError: Command '['git', 'pull', '--no-edit', 'https://github.com/microcom/openupgrade.git', '9.0-base']' returned non-zero exit status 1`

[2017-05-16 16:01] lord-enzo opened #827 "Migration Buildout Error on second step"
Impacted versions: 9.0

Steps to reproduce: When using the buildout to get to v10.0, on the second step: `bin/buildout

Current behavior: scripts throws an error:

[code]
[...]
[code]

Expected behavior: Finishing to get to the next step

[2017-05-16 16:18] pedrobaeza commented on #827
Buildout is not a supported method (it was only a test). Anyway, the error is clear: that branch is not correct as it was only a test (9.0-base).

[2017-05-16 16:18] #827 closed

[2017-05-16 16:29] lord-enzo commented on #827
So, I guess there's no way to migrate to 10.0? I can't find any other way...

[2017-05-16 16:32] pedrobaeza commented on #827
Yes, there is. Just run the OU server with the -u all switch.

[2017-05-16 16:33] pedrobaeza commented on #827
And check if the modules are covered. Anyway, this is not something easy to perform to any non-experienced Odoo integrator.

[2017-05-17 10:05] pedrobaeza commented on #227
Is this still relevant on v10 or should we close it?

[2017-05-17 10:06] pedrobaeza commented on #807
Is there any solution for this then?

[2017-05-18 11:14] pedrobaeza commented on #376
As no answer since long, I close.

[2017-05-18 11:14] #376 closed

[2017-05-18 11:22] pedrobaeza commented on #812
As there are PRs with the solution, I close the issue.

[2017-05-18 11:22] #812 closed

[2017-05-18 15:16] pedrobaeza commented on #791
As stated, I close this.

[2017-05-18 15:16] #791 closed

[2017-05-18 15:22] pedrobaeza commented on #778
For sure something was not correct on the migration or the environment you have set, but this is not an issue itself. Please check logs and if you have a real specific issue, create a new one talking about it.

[2017-05-18 15:22] #778 closed

[2017-05-18 15:25] #746 closed

[2017-05-18 15:25] JordiBForgeFlow commented on #746
This issue was fixed.

[2017-05-18 16:30] pedrobaeza commented on #689
Closing as it was handled on the PR.

[2017-05-18 16:30] #689 closed

[2017-05-18 17:30] pedrobaeza commented on #630
No answer, so I close.

[2017-05-18 17:30] #630 closed

[2017-05-18 17:30] pedrobaeza commented on #684
Closing as this was taken into account in new versions.

[2017-05-18 17:30] #684 closed

[2017-05-18 23:09] ovnicraft opened #835 "Error migrating 8.0->9.0"
Impacted versions:
9.0

Steps to reproduce:
After run migrate.py without output errors
Run odoo.py with addons-path, -d migrated_db -u all

Current behavior:
Error: https://gist.github.com/ovnicraft/af052ccb85fe1baff00aa94288bace28

Expected behavior:
Update module

[2017-05-19 02:23] pepetreshere commented on #757
Hello @hbrunn and @pedrobaeza, we have successfully migrated the stock module (PR #837) and we would appreciate your review. The same for purchase module which seems to not need anything (PR #838). Our plan is to verify that we are using the right processes and techniques before going on with other modules (hopefully verified if we get to merge stock module).

We found that most modules depends on

[2017-05-19 07:17] pedrobaeza commented on #757
All the work is going to be done before July, @pepetreshere

[2017-05-19 07:21] pedrobaeza commented on #835
What I see is that you have modified website views and now they don't load. My advise:

Change all the website views to noupdate=0 for doing the migration.

[2017-05-19 07:21] #835 closed

[2017-05-19 08:23] pedrobaeza commented on #578
With new module account_analytic_parent, they shouldn't get removed. Maybe hidden meanwhile.

[2017-05-19 08:29] pedrobaeza commented on #590
But can this be achieved with current openupgrade_records mechanism where we communicate with the other Odoo server through XML-RPC?

[2017-05-19 08:39] pedrobaeza commented on #577
Is this still relevant? I haven't got any problem with project_timesheet module installed.

[2017-05-19 08:40] pedrobaeza commented on #771
Closing as no response

[2017-05-19 08:40] #771 closed

[2017-05-19 14:39] ovnicraft commented on #835
All my modules has install: False, so if you see the xml in load is from website module, so i will try your advice.

[2017-05-19 15:43] pepetreshere commented on #757
Thats great @pedrobaeza, thanks for the info.

The MRP modules are not marked for migration inside OCA project, these modules seems a bit complex, do you know if anybody is planning to work on these? perhaps we can join efforts to migrate the MRP modules, specially for elaborating the correponding openupgrade_analysis_work.txt files.

[2017-05-19 16:31] pedrobaeza commented on #757
Nobody is interested for it right now, me neither. Indeed, the more work in this version is this module.

[2017-05-24 08:27] pedrobaeza commented on #750
Fixed in #840

[2017-05-24 08:27] #750 closed

[2017-05-29 09:26] rruebner commented on #757
@pedrobaeza I want to work on the migration for the sale and sale_stock modules.

[2017-05-29 09:29] NL66278 commented on #757
@pedrobaeza Here my PR for the account module (still WIP): https://github.com/OCA/OpenUpgrade/pull/843

[2017-05-29 09:41] astirpe commented on #757
@pedrobaeza I would like to work on modules hr and hr_holidays

[2017-05-29 09:53] PCatinean commented on #757
@pedrobaeza I've been assigned the mrp migration

[2017-05-29 10:05] MiquelRForgeFlow commented on #757
@pedrobaeza I would like to work on account_voucher

[2017-05-29 11:25] omar7r commented on #757
@PCatinean @pedrobaeza Project module will be a 'nothing to do'.

[2017-05-29 13:29] omar7r commented on #757
project_issue module -> Nothing to do

[2017-05-29 14:02] NL66278 commented on #757
@omar7r If there is "Nothing to do"  there is one thing todo: create a PR adding the Nothing to do text to the line for the module in odoo/openupgrade/doc/source/modules90-100.rst

[2017-05-29 14:08] pedrobaeza commented on #757
Written down all the assigned modules. Please make your PRs with the "Nothing to do" confirmation in the analysis work file and the documentation.

[2017-05-29 14:19] MiquelRForgeFlow commented on #757
PR of account_voucher migration: https://github.com/OCA/OpenUpgrade/pull/845

[2017-05-29 14:33] omar7r commented on #757
Ok @NL66278 it is done https://github.com/OCA/OpenUpgrade/pull/848

[2017-05-29 14:50] astirpe commented on #757
PR for module hr: #849

[2017-05-29 14:58] rruebner commented on #757
PR for sale migration: #851

[2017-05-29 14:59] reinka commented on #757
PR for OpenUpgrade: #850

[2017-05-29 15:21] NL66278 opened #852 "Travis misbehaving on PR's"
I notice Travis loading non existing files (not existing in 10.0) and giving errors. No idea what is going on...

[2017-05-29 16:06] reinka commented on #757
PR for sale_stock migration: #853
Did this together with @rruebner

[2017-05-30 10:36] astirpe commented on #757
PR https://github.com/OCA/OpenUpgrade/pull/858 is for setting `hr_holidays` to "Nothing to do"

[2017-05-30 11:20] reinka commented on #757
PR #859: Setting `account_analytic_default` to `Nothing to do`. Concluding from the `analytic` and `analytic_work` file, the rest has already been done.

[2017-05-30 12:44] NL66278 opened #860 "[9.0] Duplicate key error when generation records for OpenUpgrade Analysis"
Impacted versions: in any case 9.0

Steps to reproduce: Install openupgrade_records module. Install all modules. Then generate records.

Current behavior: Duplicate key error

Expected behavior: All records are generated

Odoo Server Error

Traceback (most recent call last):
  File "/home/openeyedev/var/projects/oe_oup_90/odoo/parts/odoo/openerp/http.py", line 646, in _handle_exception
    return

[2017-05-30 12:48] NL66278 commented on #860
The problem is when all localization modules are installed. They will tend to have the same kind of xml_id' s. It would probably be best to exclude the localization modules from the install all modules. This will make analysis also much faster.

[2017-05-30 12:49] pedrobaeza commented on #860
Yeah, that is what I was about to say you.

[2017-05-30 13:26] astirpe commented on #757
@pedrobaeza I would like to work on `hr_attendance` and its pending dependencies (`barcodes`)

[2017-05-30 13:42] rruebner commented on #757
@pedrobaeza I want to work on the migration for the delivery module.

[2017-05-30 14:22] reinka commented on #757
@pedrobaeza I'd like to work on `web`

[2017-05-30 14:53] reinka commented on #757
PR #861 for module `web`

[2017-05-30 15:12] MiquelRForgeFlow commented on #757
PR https://github.com/OCA/OpenUpgrade/pull/862 for module `membership`

[2017-05-30 15:14] reinka commented on #757
PR #863 for `l10n_de`, `l10n_de_skr03` and `l10n_de_skr04`

[2017-05-30 15:25] reinka commented on #757
PR #864 for `base_vat`

[2017-05-30 15:42] astirpe commented on #757
PR https://github.com/OCA/OpenUpgrade/pull/865 for `barcodes`

[2017-05-30 15:47] NL66278 commented on #860
Here a PR for 9.0. Now have to do it for 10.0.

Just a remark: the already existing wizard takes care to also support 7.0 and before syntax. I did not change this. But maybe time to get rid of this?

[2017-05-30 16:06] reinka commented on #757
PR #867 for `board`

[2017-05-30 16:39] reinka commented on #757
PR #868 for `account_accountant`

[2017-05-30 16:55] reinka commented on #757
PR #870 for `account_cancel`

[2017-05-30 19:27] StefanRijnhart commented on #860
It's this error: https://github.com/odoo/odoo/issues/12600. I'm currently checking if it can be fixed by cherrypicking https://github.com/odoo/odoo/commit/5e7650204b0682072d1718400273560fa21f71f8

[2017-05-30 20:01] StefanRijnhart commented on #860
The cherry-pick does fix this: https://github.com/OCA/OpenUpgrade/pull/872

[2017-05-30 22:37] reinka commented on #757
@pedrobaeza I'd like to work on `hr_timesheet`

[2017-05-30 22:42] reinka commented on #757
PR #873 for `base_iban`

[2017-05-30 22:54] reinka commented on #757
PR #874 for `document`

[2017-05-31 08:12] tafaRU commented on #757
~~I'm working on `hr_gamification`module.~~
PR: https://github.com/OCA/OpenUpgrade/pull/875

[2017-05-31 09:28] rruebner commented on #757
PR for delivery migration: #869

[2017-05-31 10:03] rruebner commented on #757
PR for contacts migration: #876

[2017-05-31 10:33] tafaRU commented on #757
PR for `l10n_it`module: https://github.com/OCA/OpenUpgrade/pull/877

[2017-05-31 10:44] rruebner commented on #757
PR for account_budget migration: #878

[2017-05-31 11:00] MiquelRForgeFlow commented on #757
PRs for acount_accountant https://github.com/OCA/OpenUpgrade/pull/879  and account_cancel https://github.com/OCA/OpenUpgrade/pull/880 migrations

[2017-05-31 11:02] astirpe commented on #757
@pedrobaeza Sorry but for the upcoming weeks I think I will not be able to dedicate any time for migration of module `hr_attendance`, may I ask you to remove my name from `hr_attendance`?

On the other side there is another module that has priority in my to do list: `l10n_nl`. May I ask you to add my name to that module? Thank you!

[2017-05-31 11:04] reinka commented on #757
@mreficent #879 and #880 were already done here: #868 and #870

[2017-05-31 11:12] MiquelRForgeFlow commented on #757
Ok, I closed mines 😂

[2017-05-31 11:13] rruebner commented on #757
PR for account_tax_cash_basis migration: #881

[2017-05-31 11:20] rruebner commented on #757
PR for account_tax_python migration: #882

[2017-05-31 13:27] rruebner commented on #757
PR for anonymization migration: #883

[2017-05-31 14:09] reinka commented on #757
PR for `website_theme_install`: #884

[2017-05-31 14:25] rruebner commented on #757
PR for association migration: #885

[2017-05-31 14:26] rruebner commented on #757
PR for auth_crypt, auth_ldap and auth_oauth migrations: #886

[2017-05-31 14:41] reinka commented on #757
PR for `website_slides`: #887

[2017-05-31 15:11] MiquelRForgeFlow commented on #757
PR for <code>base_iban</code>: https://github.com/OCA/OpenUpgrade/pull/888

[2017-05-31 15:26] MiquelRForgeFlow commented on #757
PR for both <code>event</code> and <code>event_sale</code>: https://github.com/OCA/OpenUpgrade/pull/889

[2017-06-01 13:03] astirpe commented on #757
PR for `l10n_nl`: https://github.com/OCA/OpenUpgrade/pull/890

[2017-06-06 03:57] BeAntares commented on #502
Hi @hbrunn Is it possible to migrate to version 10 using this buildout?
Thanks

[2017-06-06 09:05] hbrunn commented on #502
not as it is, but currently, we also don't have enough migration scripts done for 10 to migrate more than a very basic database anyways. When the migration project I'm working on currently is far enough so that it makes sense to run a migration on the real database, I'll probably update this branch.

[2017-06-06 11:58] MiquelRForgeFlow commented on #757
PR for both <code>survey</code> and <code>survey_crm</code>: https://github.com/OCA/OpenUpgrade/pull/893

[2017-06-07 09:52] hbrunn commented on #852
can you link which lines in travis you mean?

[2017-06-07 09:53] #860 closed

[2017-06-07 09:59] hbrunn commented on #807
https://github.com/OCA/OpenUpgrade/pull/810 - we just need to merge this and I have to update the generation script on our server afterwards

[2017-06-07 10:02] #807 closed

[2017-06-07 10:06] pedrobaeza commented on #852
This is what I have pointed out that $TRAVIS_COMMIT variable is not correct on rebasing or forced push operations. The only solution is to close the PR and open again for having Travis correctly informed.

[2017-06-07 10:06] #852 closed

[2017-06-07 12:50] reinka commented on #757
PR for `website_sale_stock`: #900

[2017-06-07 13:12] reinka commented on #757
PR for `website_sale_digital`: #902

[2017-06-07 17:00] MiquelRForgeFlow commented on #757
PR for <code>payment</code>: https://github.com/OCA/OpenUpgrade/pull/906

[2017-06-08 06:15] hbrunn commented on #741
Me. While I think it's a questionable practice to run migrations in an environment where the code can contact the outside world at all, if we want to prevent people from shooting in their own foot, I'd propose to handle this centrally in `ir.mail.server#send_email`. But there's no chance in hell to prevent some other plugins from doing requests to some webshop sync instance or whatever, so it stil

[2017-06-08 07:01] pedrobaeza commented on #741
Yeah, you're right. Now with our Docker image (https://github.com/Tecnativa/docker-odoo-base) we have handled that deactivating mail proxy. Closing this issue.

[2017-06-08 07:01] #741 closed

[2017-06-08 11:57] MiquelRForgeFlow commented on #757
PR for several <code>website</code> modules: https://github.com/OCA/OpenUpgrade/pull/908

[2017-06-08 12:10] JordiBForgeFlow commented on #757
Updated as per @mreficent  comments

[2017-06-15 07:03] ecino opened #915 "[9.0] Use of the environment doesn't work?"
Impacted versions: 9.0

Steps to reproduce:
Make a migration script using @openupgrade.migrate(use_env=True) decorator
Call env.ref('module.xml_id') function or env['model'].search() and it doesn't work.

Current behavior:
For instance, calling `env['res.partner'].search([('ref', '=', '123')])`
{ValueError}Invalid field 'ref' in leaf "<osv.ExtendedLeaf: ('ref', '=', 'lsv') on res_partner (ctx: )>"

[2017-06-15 07:09] hbrunn commented on #915
this report would belong into https://github.com/OCA/OpenUpgradelib, but this looks like a different problem. You should post more code on what you're doing, and at which state (pre/post migration) for which module

[2017-06-15 07:17] ecino commented on #915
Oops, I didn't realize I post it on the wrong repo. Sorry, I will post it there.

[2017-06-15 07:17] #915 closed

[2017-06-21 20:35] ovnicraft commented on #502
Hi, i am working on migrations from 6.1 to 7.0,8.0,9.0,10.0,this discussion in which states lets openupgrade? can i use migrate.py or i must use buildot ?

[2017-06-21 23:18] pedrobaeza commented on #502
Up to 8.0, you can use migrate.py (anyway, I have never done it that way - just download OpenUpgrade and run server with `-u all`). From version 8, we are using our Docker system putting openupgrade as origin: https://github.com/Tecnativa/docker-odoo-base

[2017-06-22 04:52] ovnicraft commented on #761
@legalsylvain i have the same issuea after migration i run -u all, but i dont get it when you say: (with a no openupgrade version = Odoo or OCB)

[2017-06-23 07:04] cor9003 opened #931 "[9.0] Could not get content for /im_chat/static/......"
Hello, after migrated the verion 8 to 9 with script migration.py, after restore database migrated I can login in version 9.0 but  I get the following messages:

Could not get content for /im_chat/static/src/css/im_commons.css defined in bundle 'web_assets_backend'
Could not get content for /im_chat/static/src/css/im_chat.css defined in bundle 'web_assets_backend'
Could not get content for /web_gra

[2017-06-23 07:06] pedrobaeza commented on #931
Update all the modules with regular Odoo.

[2017-06-23 07:06] #931 closed

[2017-06-25 21:16] flotho opened #934 "[10.0]Module contacts duplicate ir_model_data"
Impacted versions:
Latest OpenUpgrade

Steps to reproduce:
migrate a 8.0 to 10.0 with 9.0,10.0 option. It failed on the module_contacts.

Current behavior:
[code]

What is the proper way to debug this ?
regards

[2017-06-26 12:02] MiquelRForgeFlow commented on #757
PR for `pad` and `pad_project` modules: https://github.com/OCA/OpenUpgrade/pull/935

[2017-06-26 12:05] hbrunn commented on #934
you've clipped the backtrace beyond recognition, without this, nobody can help you

[2017-06-26 23:12] flotho commented on #934
Hi @hbrunn ,

Is it better like this ?

[code]

[2017-06-27 04:23] ovnicraft opened #936 "[10.0] error try to login on migrated db"
Impacted versions: 10.0

Steps to reproduce:

* Migrate db to 10.0
* Run `-u all`
* in browser, select db and enter user:passwd, enter

Current behavior:

https://gist.github.com/ovnicraft/93314eff1bf8f92e227e1d88d2919f49

Expected behavior:

render the  system

Video/Screenshot link (optional):

[2017-06-27 05:06] hbrunn commented on #934
a world of a difference. Running `delete from ir_model_data where name='module_contacts' and module='base'` before the migration should do the trick

[2017-06-27 06:52] flotho commented on #934
@hbrunn , does this need to be implemented in OpenUgrade code because it could be reproductible in other env?
Or a simple SQL query would be enough ?
Regards

[2017-06-27 07:09] hbrunn commented on #934
it seems that for whatever reason, your database has an xmlid for the 8.0 version of the contacts module, but no entry for it in the modules table.

That's probably caused by https://github.com/OCA/OpenUpgrade/blob/9.0/openerp/addons/base/migrations/9.0.1.3/pre-migration.py#L60, looks a lot like we need to update/delete the xmlid in the `merge_modules` case too: https://github.com/OCA/openupgradel

[2017-06-27 07:50] pedrobaeza commented on #934
After migrating to one version, you should purge your non installed module list, and this won't happen.

[2017-06-27 08:05] hbrunn commented on #934
i think in this case, we should do something anyways. Usually, cruft left in the database is only annoying, here, it breaks stuff

[2017-06-27 19:37] flotho commented on #934
@pedrobaeza , you proposed to use a first migration to 9.0 from 8.0 for example. Then purge the uninstalled module, then rerun the 10.0 upgrade.
Am I right?
How do you purge the uninstalled module? Simple deletion in application list?
Regards

[2017-06-27 19:39] pedrobaeza commented on #934
Yeah, but you don't need to do it interactively. I use Odoo shell and perform this:
[code]

[2017-06-27 19:44] flotho commented on #934
I'm not sure to understand, when do you do this? during the upgrade?

[2017-06-27 20:06] pedrobaeza commented on #934
No, after migration to 9.0

[2017-06-27 20:10] flotho commented on #934
Thanks @pedrobaeza , I'll try to do this by CLI, I'm not sure to succeed this way ;-)

[2017-06-27 20:30] flotho commented on #934
@hbrunn , @pedrobaeza ,
Thanks for your support, deleting the wrong module name allow me to go further.
I'm now stucked with this king of issue :
[code]
Is it the same kind of issue, the group is not correctly recognized?

[2017-06-27 21:19] flotho opened #937 "[10.0]Stock migration error"
Working on a db coming from 8.0 and trying to migrate it via 90 then 10.0.
Ir progressed by solving #934 and from now I have this issue :
[code]

Does it looks like a bug for you ?
@pepetreshere , what's your point of view ?

Thanks in advance for your support. Regards

[2017-06-28 11:20] JordiBForgeFlow commented on #937
Do you agree with the proposed fix?

[2017-06-29 00:20] #937 closed

[2017-06-29 00:27] pedrobaeza commented on #757
@astirpe are you going to finally work on hr_attendance?

[2017-06-29 06:44] astirpe commented on #757
@pedrobaeza in one of my posts above (sent last 31/05/2017) I asked you to remove my name from hr_attendance :) Is it possible?

[2017-06-29 07:05] pedrobaeza commented on #757
Oh, I didn't see it. Well, no problem. I will take care of it.

[2017-06-29 09:55] MiquelRForgeFlow commented on #757
PR for `sale_crm` module: https://github.com/OCA/OpenUpgrade/pull/941

[2017-06-29 23:31] ovnicraft commented on #936
This error is caused by im_odoo_support module view is not removed from db in migration process, i understand this caused by module was removed, any hint to include some migration method and delete the view ? @pedrobaeza

[2017-06-29 23:35] pedrobaeza commented on #936
Use `update_module_names` method with merge_modules=True.

[2017-07-04 08:42] #936 closed

[2017-07-04 08:42] pedrobaeza commented on #806
I'm going to develop this gap

[2017-07-04 08:43] pedrobaeza commented on #744
Closing as the PR was merged.

[2017-07-04 08:43] #744 closed

[2017-07-04 08:44] pedrobaeza commented on #716
No news with this?

[2017-07-04 08:48] pedrobaeza commented on #485
As this has not been materialized (and I think that it's very difficult to be done), I close this issue. If someone wants to revisit this topic later, he/she can open a new issue/PR about it.

[2017-07-04 08:48] #485 closed

[2017-07-04 08:48] pedrobaeza commented on #77
Closing as this one is not too much relevant nowadays and there's no PR.

[2017-07-04 08:48] #77 closed

[2017-07-04 08:50] pedrobaeza commented on #227
Can you please tell me if this is still relevant for v10?

[2017-07-04 09:02] hbrunn commented on #227
well, we survived until now, so I don't expect any news here

[2017-07-04 09:02] #227 closed

[2017-07-04 14:34] PCatinean opened #951 "Groups with misplaced module in ir_model_data table"
Impacted versions:

10

Steps to reproduce:

Create new database in V8 and install Sale, Purchase, Invoicing, Website

Run ./odoo.py -d DB -u all --stop-after-init on the v9 branch
Do the same on v10 branch

Current behavior:

Multiple groups have misplaced modules and generate duplicate key value error on migration to v10

Expected behavior:

Groups are not moved from base to the new modules

Env

[2017-07-04 16:07] PCatinean commented on #951
Apparently this happens if you attempt to do the migration in the same directory and just switch branches. Most probably the .pyc files mess things up so I'm leaving this as reference for someone trying to do the same stupid thing :)

[2017-07-04 16:07] #951 closed

[2017-07-04 16:16] hbrunn commented on #951
hmmm, we'd have chatted for hours to find this. For what it's worth, maybe you'll have more success with my [migration buildout](https://github.com/hbrunn/OpenUpgrade/tree/buildout)? Didn't update this for a while, but I think it's obvious how to extend this to the later versions

[2017-07-04 16:22] PCatinean commented on #951
@hbrunn indeed, I thought I would not depend on the buildout since I have to go to version 10 as well and that's not supported from what I know.

I only now noticed that doing pip install openupgradelib does not get the latest version even though it still shows 1.3.0. That's pretty bad and I also wasted quite some time until I noticed some outdated code

[2017-07-04 16:38] pedrobaeza commented on #951
We use our Docker project https://github.com/Tecnativa/docker-odoo-base putting openupgrade as origin in the repo configuration, but you should know how to work with Docker.

[2017-07-04 16:55] PCatinean commented on #951
@pedrobaeza the docker project is indeed very interesting and I will take a look at it soon. I may be missing something but at a quick glance through the Dockerfile shows it also installs openupgradelib with pip and even with the --no-cache parameter the library is out of date yet showing the same version number.

That ate up my entire day debugging like crazy :)

[2017-07-04 17:04] pedrobaeza commented on #951
Well, if the library is not updated enough, you can always add a pip compatible syntax for taking from git following scaffolding (https://github.com/Tecnativa/docker-odoo-base/blob/scaffolding/odoo/custom/dependencies/pip.txt). It would be: `git+https://github.com/OCA/openupgradelib.git@master`

[2017-07-04 17:04] hbrunn commented on #951
@PCatinean do [that](https://github.com/OCA/OpenUpgrade/blob/10.0/.travis.yml#L62) for installing openupgradelib (will change this in the buildout too the next time i've got to touch it), but the version number won't change because we only update this before a release: https://github.com/OCA/openupgradelib/blob/master/openupgradelib/__init__.py#L5 might make sense to add `-develop` or something as

[2017-07-04 17:25] PCatinean commented on #951
I understand, the only problem for a newcomer of openupgrade is that if he follows the instructions on the repo https://github.com/OCA/openupgradelib/blob/master/docs/installation.rst or does a pip install -r requirements.txt on any openupgrade version he can have an outdated version like in this scenario.

This translates into frustration for the user relating to problems that could already be so

[2017-07-04 17:28] pedrobaeza commented on #951
Make a PR then changing the documentation for avoiding this frustration to others :wink:

[2017-07-04 17:32] PCatinean commented on #951
I was thinking the same thing :D will do

[2017-07-05 04:47] fanha99 opened #953 "[0.8 to 0.9] Key (name)=(account_analytic_distribution) already exists."
Hi all,

I'm using migrate.py to upgrade my database from 8.0 to 9.0.

the script is force stop, and the final line in the log is:

odoo@ubuntu:~/odoo-dev$ tail -f /var/tmp/openupgrade/migration.log
    cr.execute(query, args)
  File "/var/tmp/openupgrade/9.0/server/openerp/sql_db.py", line 141, in wrapper
    return f(self, *args, **kwargs)
  File "/var/tmp/openupgrade/9.0/server/openerp/sql_db.p

[2017-07-05 07:17] pedrobaeza commented on #953
But that's because you already have a module in v8 with the name of `account_analytic_distribution`. Remove that module from the list in v8 and all will go correct.

[2017-07-05 07:17] #953 closed

[2017-07-05 21:45] flotho opened #956 "[10.0]Sale migration error, tuple issue"
Hi,

I have a problem on sale migration like for stock #937:
[code]

[2017-07-05 22:31] pedrobaeza commented on #956
Closing as there's the PR #957.

[2017-07-05 22:31] #956 closed

[2017-07-06 16:23] MiquelRForgeFlow commented on #757
PR for `point_of_sale` module: https://github.com/OCA/OpenUpgrade/pull/959

[2017-07-13 13:16] balvantramani opened #963 "Base core field 'sequence' for res.company error"
I migrated database using script from 8 to 10. and manual migrate all custom modules.
But when i try to login in migrated database it gives error that res.company has no field 'sequence'

I notice it is new field in odoo10 it is not exist in odoo 8.

Also i try from command line to upgrade base module but it gives error like

Exception: Module loading base failed: file base/res/res.lang.csv could

[2017-07-13 13:23] ghost commented on #934
Got same problem. i tried delete from ir_model_data where name='module_contacts' and module='base'  as per @hbrunn

Traceback (most recent call last):
  File "/opt/odoo10/odoo/service/server.py", line 902, in preload_registries
    registry = Registry.new(dbname, update_module=update_module)
  File "/opt/odoo10/odoo/modules/registry.py", line 78, in new
    odoo.modules.load_modules(registry._db,

[2017-07-13 14:21] pedrobaeza commented on #963
You need to solve the problems with the languages and then all it's supposed to go alright. That problem is because your languages doesn't have the correct XML-IDs in your old DB. You need to fix this, which is technical, but this is not supposed to be a non-technical tool.

[2017-07-13 14:21] #963 closed

[2017-07-14 10:37] ghost commented on #963
But i am not manual added language record. its automatically generated when i added method from settings. how to correct it  ? can you please give me some idea.

Thanks.

[2017-07-14 10:58] pedrobaeza commented on #963
Sorry, but this is not for teaching Odoo structure. I can quickly say you that XML-IDs are stores on ir.model.data table, but the rest it's up to you.

[2017-07-15 10:10] flotho commented on #934
Hi @balvantramani
I'm not sure that it's the same issue. Could you start another post. Do you work with multiple languages?
regards

[2017-07-17 04:50] ghost commented on #934
Yes multiple language.

[2017-07-17 10:26] ghost commented on #934
Now i got same, first i migrate 8 to 9 and then try 9 to 10 and this occur.
Traceback (most recent call last):
  File "/var/tmp/openupgrade/10.0/server/odoo/service/server.py", line 914, in preload_registries
    registry = Registry.new(dbname, update_module=update_module)
  File "/var/tmp/openupgrade/10.0/server/odoo/modules/registry.py", line 82, in new
    odoo.modules.load_modules(registry._db

[2017-07-17 11:57] balvantramani opened #965 "Model has no attribute _columns"
2017-07-17 11:44:18,713 18500 ERROR db_migrated OpenUpgrade: crm: error in migration script /var/tmp/openupgrade/10.0/addons/crm/migrations/10.0.1.0/post-migration.py: 'crm.activity' object has no attribute '_columns'
2017-07-17 11:44:18,713 18500 ERROR db_migrated OpenUpgrade: 'crm.activity' object has no attribute '_columns'
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dis

[2017-07-17 12:12] #965 closed

[2017-07-17 12:19] balvantramani opened #966 "[10.0]Syntax Error Sale(premigration.py)"
In sale_expense_update_module_names_partial method sql query use in operator, in postgres it should be tuple not array.

Traceback (most recent call last):
  File "/var/tmp/openupgrade/10.0/server/odoo/modules/registry.py", line 82, in new
    odoo.modules.load_modules(registry._db, force_demo, status, update_module)
  File "/var/tmp/openupgrade/10.0/server/odoo/modules/loading.py", line 409, in l

[2017-07-17 12:22] pedrobaeza commented on #966
Are you using latest version? It's supposed to be changed in https://github.com/OCA/OpenUpgrade/pull/957

This is not how it works. We can do the best for fixing it, but you can also propose a PR with the needed changes.

[2017-07-17 12:25] ghost commented on #966
Ok got latest version.

Repo automatically download using migration.py script, might it dowload older version that is problem.

[2017-07-17 12:25] #966 closed

[2017-07-18 09:14] ghost commented on #934
I tried
	delete from res_groups where category_id = 50

and it migrated , but i am facing other issue, when i tried loging using new database it can't load backend assets. i checked log and below 404 with all css or less.

2017-07-18 09:11:32,733 12945 INFO db_migrated werkzeug: 127.0.0.1 - - [18/Jul/2017 09:11:32] "GET /web_tree_hide_add_item/static/src/css/tree_hide_add_item.css HTTP/1.1" 404 -

[2017-07-25 16:51] bodi000 opened #969 "[7.0] upgrade from 6.1 to 7.0 - Failed to initialize database"
Impacted versions: 6.1, 7.0
**Steps to reproduce:**
While trying to upgrade the following happens:
command line:
`$ python migrate.py --config=/etc/openerp-server70.conf --database=bs_05 --run-migrations=7.0`
`copying database bs_05 to bs_05_migrated... `
`Copying the database using 'with template'`
`Failed, fallback on creating empty database + loading a dump`
`pg_restore: WARNING:  hash indexes

[2017-07-25 16:59] pedrobaeza commented on #969
It seems you installed French language in 6.1, and then uninstall it, but there are partners with this language configured. Anyway, it seems to not be something related with OpenUpgrade itself.

[2017-07-25 16:59] #969 closed

[2017-07-25 17:04] bodi000 commented on #969
Thank you Pedro, you always answer so quickly!!
Well, I do have fr_CH installed indeed; however, the error goes for fr_FR, which I do not have. Maybe I did in the past, not sure... Any idea where could some fr_FR records hide?

Side question, the openerp-server.conf file should be the 6.1 or 7.0 version?

[2017-07-25 18:03] pedrobaeza commented on #969
It seems to be lang field on res.partner. The configuration should be 7.0 version.

[2017-07-26 12:27] alesisjoan commented on #107
Had a similar problem migrating 7.0 to 8.0.

The field notification_email_send is 'comment' while 8.0 accepts as 'always'.

[2017-07-26 16:09] bodi000 commented on #969
Hello,

Thank you for your answers.

After quite some struggle, I found out the problem blocking the migration:
I had a lang = fr_FR in ir.values, since old times :-)

I put this for reference, just in case someone needs it.

However, I would suggest that a message should be thrown in the terminal
when the migration fails (like in this case, the db was left in an
"unfinished" state. Of course ther

[2017-07-29 00:46] guile520 opened #982 "[9.0] ImportError: cannot import name ProtocolError"
Impacted versions: 9.0

Steps to reproduce: trying to migrate an odoo v8.0 database with standard modules installed, or a clean v8.0 new database to v9.0

Current behavior: i get this error in the shell :

copying database migrate_test to migrate_test_migrated...
Copying the database using 'with template'
Failed, fallback on creating empty database + loading a dump
running migration for 9.0
Traceb

[2017-07-29 00:59] pedrobaeza commented on #982
It's a problem with your OS. You should use Python 2.7.

[2017-07-29 00:59] #982 closed

[2017-07-29 01:02] guile520 commented on #982
thanks a lot for time saved.

[2017-07-31 17:24] ovnicraft commented on #183
Merge dont fix the issue, i am migrating and got the same error.

[2017-07-31 18:49] bigmillz opened #983 "Odoo looking for filestore files that never existed after 9->10 migration"
Impacted versions: 10.0

Steps to reproduce:
1. Migrated database from 9 to 10 successfully
2. Copied filestore from old 9 server to test 10 server
3. Ran Odoo 10, selected migrated db

Current behavior:
`odoo-server.log` showing several errors about missing filestore files such as:

[code]

[2017-07-31 22:22] ovnicraft opened #984 "[10.0] error migrating stock module"
Impacted versions: 10.0

Steps to reproduce:

run `odoo.py --addons-path=addons -u all -d db2migrate`

Current behavior:
Cant find data by ref
Error: https://gist.github.com/ovnicraft/4df61fade38bf7058cbb932af67a843d

Expected behavior:
Migration runs ok.

Video/Screenshot link (optional):

[2017-08-01 07:35] pedrobaeza commented on #984
This is because you removed in your DB that picking type, which is expected to be found.

[2017-08-01 07:35] #984 closed

[2017-08-01 07:37] pedrobaeza commented on #983
This is because you haven't copied your v9 filestore first before starting the migration. It's not a problem of OpenUpgrade itself, but the way you perform the migration.

[2017-08-01 07:37] #983 closed

[2017-08-01 11:20] #934 closed

[2017-08-03 10:25] pedrobaeza commented on #690
As there's no easy solution, I close this although it's a pity to lose custom translations from v8 to v9.

[2017-08-03 15:39] ovnicraft commented on #984
Type when is loading gives duplicated key.

[2017-08-03 15:46] pedrobaeza commented on #984
I don't think so if you did it well.

[2017-08-04 08:40] remi-filament opened #1000 "[10.0] [hr_timesheet] migration error when project_issue not installed"
Impacted versions:
10.0

Steps to reproduce:
Run openupgrade on a database in V9 with hr_timesheet installed but with no project_issue module

Current behavior:
The migration script fails with an error stating that table project_issue module does not exist

Expected behavior:
Run the steps to update account_analytic_line by using project_issue entries only if module project_issue is installed

Vid

[2017-08-04 09:00] pedrobaeza commented on #1000
You're still not putting the error stack trace

[2017-08-04 09:05] remi-filament commented on #1000
Please find it below:
[code]

[2017-08-04 09:11] #1000 closed

[2017-08-04 09:25] remi-filament commented on #1000
Thanks

[2017-08-07 10:49] pedrobaeza opened #1005 "Migration scripts for v11"
`(del)` means that the module has been removed in version 11
`(add)` means that the module has been added in version 11
`>` means that it has been identified that the module has been renamed to the name below in version 11
`->` means that the module has been merged in another existing module.

OCA has funded the development of the migration scripts that are installed in their Odoo instance. They a

[2017-08-07 10:49] pedrobaeza commented on #1005
I know it's very soon for this, but I want to write here changes that have been already tracked in master branch for taking into account when v11 lands.

[2017-08-07 14:26] jholze commented on #1005
👍

[2017-08-08 14:02] pedrobaeza commented on #577
I think we have finally covered this with:

* `update_module_names` method in openupgradelib with `merge_modules=True` argument.
* Documentation with added and deleted module.
* Migration scripts that removes manually some noupdate=1 records.

So I close the issue. Feel free to reopen if you think the contrary.

[2017-08-09 07:08] lambone opened #1006 "deadlock detected error"
Impacted versions:
9.0

Steps to reproduce:
/git/wsc/OpenUpgrade-9.0/openerp-server -c /etc/odoo-server-mig.conf -d cbl3 --stop-after-init --update all

Current behavior:

2017-08-09 06:27:28,155 4400 INFO cbl3 openerp.modules.module: module account: creating or updating database tables
2017-08-09 06:27:48,025 4400 WARNING cbl3 openerp.models.schema: Table 'account_move_line': unable to set a NOT

[2017-08-09 07:41] pedrobaeza commented on #1006
This is because you are updating in a live server or with multiple workers. Don't do that.

[2017-08-09 07:41] #1006 closed

[2017-08-09 09:11] pedrobaeza opened #1007 "[9.0/10.0] openupgrade_records: Detect changes in binary field attachment argument"
Impacted versions: 9.0/10.0

openupgrade_records doesn't log changes in the attribute `attachment` of binary fields, which is important, as this change requires to make a process on the migration script.

Example:
9.0: https://github.com/odoo/odoo/blob/a31820d0cb780108ff1f4a0d322ca8e3bd180da3/addons/website_slides/models/slides.py#L282
10.0: https://github.com/odoo/odoo/blob/64190abec53847027f4db6

[2017-08-09 10:27] StefanRijnhart commented on #1007
Yes, I can create the analysis easily.

[2017-08-09 10:34] StefanRijnhart commented on #1007
Should we try to autodetect during migration and convert the images on the fly with a patch in the core?

[2017-08-09 10:38] pedrobaeza commented on #1007
That's the problem: I think there's no way to know that on migration time.

[2017-08-09 11:32] StefanRijnhart commented on #1007
I think we can do it in the deferred step. Do you see any problem with that? Do we need access to the binary data earlier in the process?

[2017-08-09 11:36] pedrobaeza commented on #1007
I'm being able to add the information to openupgrade_records, so it can be included in the analysis file, and thus be treated on each migration script. No need to make it any way on the deferred step (nor possible again to know it if previously it was attachment=False and now attachment=True).

[2017-08-09 12:02] StefanRijnhart commented on #1007
I am working on the deferred step right now. Seems like a good solution to have the fields migrated automatically.

[2017-08-09 12:03] pedrobaeza commented on #1007
Really? Any PoC I can see? I'm not seeing how do you detect this.

[2017-08-09 12:17] StefanRijnhart commented on #1007
@pedrobaeza it's here: https://github.com/OCA/OpenUpgrade/pull/1009

[2017-08-09 15:30] pedrobaeza commented on #578
@jbeficent definitively, we can't delete the views. I have hidden them with a consistent logic to be rescued later in #1010, so I merge that PR, closing this issue, and I'll make another migration script to _account_analytic_parent_ restoring parent views.

[2017-08-09 15:35] #578 closed

[2017-08-09 22:09] #1007 closed

[2017-08-14 22:59] flotho opened #1023 "[10.0]IM ODOO chat issue, no more present in v10 => delete ?"
Hi,

I successfully update all my modules form 8 => 10.0 and guys, your project is  awesome.

yet once trying to log, I have this issue :
[code]
Any advice would be appreciated,

regards

[2017-08-15 12:11] flotho commented on #1023
Already referenced issue : https://www.odoo.com/forum/help-1/question/help-doing-a-migration-9-10-122066

[2017-08-15 12:24] flotho commented on #1023
Maybe there's a way to implement a control in the migration script

[2017-08-15 12:45] flotho opened #1026 "[10.0] Edi module not available anymore,"
how to disable depedencies ?

[2017-08-15 16:53] pedrobaeza commented on #1026
Just uninstall the module after upgrading through the Odoo shell console (not login on UI).

[2017-08-15 16:53] #1026 closed

[2017-08-15 16:57] pedrobaeza commented on #1023
The module is already merged in its corresponding module that takes its features, so no need to make anything more:

https://github.com/OCA/OpenUpgrade/blob/d27a3adf25f097e3f9a7b3edb9d71f434b283d92/odoo/addons/base/migrations/10.0.1.3/pre-migration.py#L56-L73

[2017-08-15 16:57] #1023 closed

[2017-08-17 11:45] rafaelbn opened #1031 "Loose crm.stage migrating from v9 to v10"
Impacted versions: 9.0

Steps to reproduce:

In v9 you have crm.stage common to all Sales team
In v10 you have to define a crm.stage per sale team

Current behavior:

After migration some sales team have no stages and crm.leads have loosen them

Expected behavior:

After migration all crm.leads have the same stage as they have in v10

cc @tecnativa

[2017-08-17 18:30] pedrobaeza commented on #1031
Solved in #1033

[2017-08-17 22:08] mbaena opened #1034 "[9.0] [stock] Migrate Pack Operation"
Should stock_pack_operation.product_qty be used instead of quant.qty?
https://github.com/mbaena/OpenUpgrade/commit/b807e0641235e3e91f469d868f63598a7590f8ba

[2017-08-18 06:48] pedrobaeza commented on #1034
What is the rationale behind this change? Have you found any problem with current form?

[2017-08-20 00:50] mbaena commented on #1034
stock.pack.operation.lot defines lots for product_qty in stock.pack.operation. The problem with current form: 2 stock.pack.operation and 2 stock_quant with the same lot will produce a cartesian product.

[2017-08-20 20:56] flotho opened #1036 "[10.0]some hr.Analytic.timesheet disappear"
Hi,

I've migrated form 8.0 to 9.0 recently and I have some timesheet activities that has disappeared.
When going from the project => timesheet, only a few part of the time tracked are available.

Hopefully, everything keep tracked in account.analytic.line but what ccould be the reason why some hr.analytic move lines has disappeared?

[2017-08-20 21:22] flotho commented on #1036
Found,
Some analytic lines haven't got any project set even if the analytic account is linked to a project.
Maybe this PR https://github.com/OCA/OpenUpgrade/pull/944 could be improved in the method : https://github.com/Tecnativa/OpenUpgrade/blob/81302a8c04545d3240c673e1790c60dd705fa5c7/addons/hr_timesheet/migrations/10.0.1.0/post-migration.py#L45
Please consider that a timesheet could be linked to

[2017-08-21 07:18] pedrobaeza commented on #1036
A project always have a linked analytic account, so the other seems to be incorrect data.

[2017-08-21 11:17] #1031 closed

[2017-08-24 00:48] mvaled opened #1043 "[9.0] Convert account.voucher to account.payment."
Odoo 9 introduces a new model `account.payment`.  In Odoo 8, `account.voucher` allowed the user create the payment.  In fact, the button 'Register payment' created an `account.voucher`.  Since Odoo 9 it creates a `account.payment`.

The behavior of Odoo 9's `account.voucher` is more related to that of the invoices.  If you create a `account.voucher` (Sales receipt) with 'Pay later', it creates a j

[2017-08-24 00:52] mvaled commented on #1043
Hi @hbrunn,

I would like you to comment on this issue.

Best regards,
Manuel.

[2017-08-24 13:04] jholze commented on #1005
👍  i proposed to our guys to check if we can do some modules, because we will have a big project which will go for version 11. Is there already a plan for a next OCA sprint ?

[2017-08-24 13:08] JordiBForgeFlow commented on #1043
Manuel, this is the behaviour of v8 to v9. Not sure why you're not seeing
this. We have made migrations where the vouchers are migrated into payments
successfully.

Perhaps you can be more specific on your use case.

On Aug 24, 2017 2:52 AM, "Manuel Vázquez Acosta" <notifications@github.com>
wrote:

[2017-08-24 13:09] JordiBForgeFlow commented on #1043
See
https://github.com/OCA/OpenUpgrade/blob/9.0/addons/account_voucher/migrations/9.0.1.0/post-migration.py

On Aug 24, 2017 3:07 PM, "Jordi Ballester Alomar" <
jordi.ballester@eficent.com> wrote:

[2017-08-24 13:10] pedrobaeza commented on #1005
Not yet, but you can propose also topics. Clear topics are:

* v10 PRs and issues review before starting with v11.
* Migration of modules to v11.
* Migrations scripts for OpenUpgrade v11.

[2017-08-24 23:21] mvaled commented on #1043
@jbeficent You're 100% right! My bad.

I didn't read the code, but only the `openupgrade_analysis_work.txt` file and there I didn't see any mention of converting to `account_payment`.

Closing this.

[2017-08-24 23:21] #1043 closed

[2017-08-25 11:32] pedrobaeza opened #1046 "[RFC] Detect removed noupdate records"
noupdate="1" records are not automatically removed on any update/migration, and they can be very harmful if they are for example record rules (example: https://github.com/OCA/OpenUpgrade/pull/848).

We should detect them and maybe automatically delete them. Ideal would be on OpenUpgrade itself, in a similar way we have made with binary stored as attachments: https://github.com/OCA/OpenUpgrade/pull

[2017-08-25 11:48] MiquelRForgeFlow commented on #1046
I love automatic things :+1:

[2017-08-26 15:54] imaralux commented on #931
Same issue here event after upgrading, even after upgrading with flag --update=all. The source database is blank, so it's basic case.

[2017-08-26 16:43] imaralux commented on #931
Fixed as follows:
from psql command-line : UPDATE ir_module_module SET state = 'to remove' WHERE name = 'im_chat';
then launch with --update=all

[2017-08-26 22:06] imaralux commented on #931
Easier option : Uninstall module im_chat from v8 BEFORE upgrade. That does the trick.

[2017-08-28 08:50] flotho opened #1047 "[v10]replace message_follower_ids by message_partner_ids in ir_rules"
New v10 coming from v8 => v9

Some rules are referencing message_follower_ids on sale.order, account.invoice etc...
Those fields usages have to be replaced by message_partner_ids.

[2017-08-28 08:52] flotho opened #1048 "[10.0]Website image no more available for non authenticate users"
Impacted versions: V10

Since I migrate from v8 to v10, all the images in the website part are no more available for non authenticated user.
What's the correct way to give the read part to public users?

[2017-08-28 08:57] hbrunn commented on #1048
looks like you're missing https://github.com/OCA/OpenUpgrade/pull/1025

[2017-08-28 09:02] pedrobaeza commented on #1047
Script https://github.com/OCA/OpenUpgrade/blob/10.0/scripts/compare_noupdate_xml_records.py should detect that changes. It had before #1045 a problem and didn't write the changes. Please check modules where this change should be done and check in #1042 how we did for loading these changes.

[2017-08-28 09:02] #1047 closed

[2017-08-28 09:06] flotho opened #1049 "[v10]Blog entries in website are "old" release"
After a mrigration from v8=>v10 some parts of my blog entries have disappeared.
What could be the cause of this?
How can I found the responsible of that?

regards

[2017-08-28 09:07] pedrobaeza commented on #1049
Sorry, you have to be more specific.

[2017-08-28 09:07] #1049 closed

[2017-08-28 09:12] flotho commented on #1048
Great, my migration was previously done to this PR,

Thanks

[2017-08-28 09:12] #1048 closed

[2017-08-30 17:23] pedrobaeza commented on #1034
But that table doesn't exist on v8, so it's not possible to use it.

[2017-09-01 12:04] legalsylvain opened #1059 "[RFC] database size after upgrade and psql tools"
Hi all,

I'm working on a migration from 7 to 8 with a database with 2.705.474 stock moves. As I had a huge difference of  db size before and after migration, (7.5Go -> 22Go) (```SELECT pg_size_pretty(pg_database_size('mydb'));``` I used the following SQL request to analyze db size.

[code]

Here are the size of the stock move table.

**Before Upgrade (on v7)**
[code]
Db size : 7.5Go

**After Upgr

[2017-09-01 12:16] pedrobaeza commented on #1059
Some of this increase is due to the new stock records: stock.quant, stock.pack.operation, so there's no solution on that. The rest is to document that you can use database_cleanup module after for cleaning things, but you can't do anything automatic as some modules that you install after can require temporary tables (example: https://github.com/OCA/account-analytic/blob/9.0/account_analytic_parent

[2017-09-01 12:25] legalsylvain commented on #1059
Well,
We are not talking about the same things. I'm just saying that after a migration, database indexes take too much spaces. New datas quants / operations take space of course, but this is not a problem for me.

the proposal 1 was just to launch VACUUM FULL + REINDEX DATABASE + ANALYSE (or other SQL request) after a migration.
database_cleanup doesn't realize such operations IFAIK. (and no OCA m

[2017-09-01 12:35] sebalix commented on #1059
I noticed that too, a migrated database took about 8Go, and after a dump/restore operation, its size was about 2Go.
We migrated a 6.0 database to 8.0 lately, and we did a DB dump/restore after each step to make the development iteration easier, and as a side-effect the size was constant.

And it's not related to OpenUpgrade, I see this on another Odoo database which was built from a proprietary on

[2017-09-01 12:45] legalsylvain commented on #1059
I'm not a db expert, but I believe that a restore command just recreate (so correctly) all indexes. (there are no vacuum command executed)

[2017-09-01 14:18] pedrobaeza commented on #1059
OK, my assumption was that you only need to vacuum if you remove records, and this is not very frequent in OpenUpgrade itself (except for the noupdate="0" records, that's to say, views, actions..., but they are few). That why I was talking about database_cleanup. But indeed maybe some SQL extra calls can be made on end-migration script of the base module: https://github.com/OCA/OpenUpgrade/blob/10

[2017-09-04 12:45] mreficent commented on #1005
@pedrobaeza, more stuff:

- account_invoicing `(add)` splitted from account (https://github.com/odoo/odoo/commit/8cd4f48867d27e9046d757e78c9f67d36741bf8b)
- account_payment `(add)` bridge between account and payment (https://github.com/odoo/odoo/commit/9456c7b332c417c8461ab92abc18b309fb208720)
- account_tax_cash_basis `>` merged in account (https://github.com/odoo/odoo/commit/ef556192d48702a8709aa

[2017-09-05 23:20] mbaena commented on #1034
Yes, lots are defined in stock.pack_operation in 8.0. But in 9.0 are refactored to stock.pack.operation.lot (without relation to stock_quant).

[2017-09-06 07:30] pedrobaeza commented on #1034
It's better that you propose the PR and then we talk there, as I'm seeing a different thing in the commit than what we are talking now. I close this meanwhile.

[2017-09-06 07:30] #1034 closed

[2017-09-12 21:31] flotho commented on #1049
Hi @pedrobaeza , I found what's going on.
In v8 we have blog history and of course the version displayed in the web site is the most recent one.
In v10 history seems to have disappeared so that the content field still the first saved in the UI.

Could this issue be reopened?

regards

[2017-09-13 08:03] pedrobaeza commented on #1049
But I still don't get what's the problem.

[2017-09-13 10:27] mreficent commented on #1005
- marketing_campaign `(del)` (https://github.com/odoo/odoo/commit/1c3c3ab9fcdbebf2730b31028f610b4c94df2f54) [moved to Enterprise]
- marketing_campaign_crm_demo `(del)` (https://github.com/odoo/odoo/commit/1c3c3ab9fcdbebf2730b31028f610b4c94df2f54) [moved to Enterprise]
- procurement `(del)` (https://github.com/odoo/odoo/commit/283242dbea30f6acac00fb5e6a500f1c29b6ee9f)

[2017-09-13 12:39] flotho commented on #1049
the problem is that the openupgrade don't take the content of the latest history but the initial content set into the blog entry. The datas are consequently partial